# Cleaning messy PDF data with pandas and Jupyter notebooks
## Part 2 - DEA ARCOS Report 3: Quarterly Distribution in Grams per 100K Population

### Background

#### What is ARCOS?
The DEA publishes data annually from its Automation of Reports and Consolidated Orders System, or ARCOS. According to the DEA's website, ARCOS "monitors the flow of DEA controlled substances from their point of manufacture through commercial distribution channels to point of sale or distribution at the dispensing/retail level - hospitals, retail pharmacies, practitioners, mid-level practitioners, and teaching institutions....these transactions...are then summarized into reports which give investigators in Federal and state government agencies information which can then be used to identify the diversion of controlled substances into illicit channels of distribution. The information on drug distribution is used throughout the United States (U.S.) by U.S. Attorneys and DEA investigators to strengthen criminal cases in the courts."

So, ARCOS exists to help the government identify patterns in the manufacture and distribution of controlled substances that might indicate that these substances are being sold illegally. Annual ARCOS reports are publically available on the DEA's website, dating back to the year 2000, but unfortunately they are only available in PDF form and are dozens or even hundreds of pages long. 

#### What's in this notebook?
I was interested in doing some data analysis and visualization on the distribution of oxycodone, an opioid painkiller that is one of the main drivers of the current prescription pain pill (and arguably heroin) addiction epidemic in the United States right now. 

Aside from a wealth of fascinating (and sometimes disturbing, sad, and frightening) data to explore, the ARCOS data also presents a great data cleansing challenge, given that it is distributed in PDFs - the perfect opportunity to practice your pandas skills, for example. Luckily, the files tend to have nearly identical formatting, aside from a shift in report formatting in 2006 and a few anomalies here and there.

This notebook is meant to demo the functionality of pandas and Jupyter notebooks for data cleaning - working with this data was a great project for me to improve my pandas skills and I'm sharing the code here so others can learn and practice. 

This is part 2 - cleaning and processing of Report 3.

In [603]:
# load the libraries we need, and the drug codes dictionary and geographies list
import pandas as pd
import numpy as np
import pickle

drug_codes = pickle.load(open("drug_codes.pickle", "rb"))
geos = pickle.load(open("geographies.pickle", "rb"))

### Notes on the data 

Get the raw data (in PDF....!)
You can find the ARCOS reports here: https://www.deadiversion.usdoj.gov/arcos/retail_drug_summary/index.html

There are six ARCOS reports published each year and I chose to work with three of them in particular:
* Report 1:  Retail Drug Distribution by Zip Code for Each State - total drug amounts (in grams) distributed to retail registrants in each state, by 'gateway' zip code (the first three numbers of the zip), on a quarterly basis
* Report 3: Quarterly Distribution in Grams per 100K Population - quarterly drug consumption in grams per 100,000 population, by state
* Report 5: Statistical Summary for Retail Drug Purchases - average annual purchases by drug by business activity (pharmacy, hospital, etc.)


A few notes: 

* For years before 2006, the reports are lumped together into one giant PDF (700+ pages long). In more recent years they have elected to publish a separate PDF for each report. 

* I tried several approaches for simply getting the text out of the PDF - for a variety of reasons (in particular the unwieldy nature of the pre-2006 PDFs), it was easiest and quickest to just copy-paste the entire contents of the PDF into a text file. This was an OK solution for me since there aren't that many of them - if you were doing this with hundreds of files you would want to find another way. Another problem I ran into right away was the length of the title running onto multiple lines in the txt file and causing a lot of formatting challenges in a dataframe, so I manually adjusted the title text in each txt file. 

* For the pre-2006 reports, I (manually and carefully) removed the report content I wasn't interested in from the text file, and then used pandas to clean what remained.

#### Step 1 - Getting from PDF into pandas in the notebook

What to consider and experiment with:
* How will you pull the data out of the PDF? How much of the formatting (columns, headers, etc) will you be able to preserve?
* What delimiter works best?
* If the number of PDF files is small, are there any steps you can perform right in the txt or spreadsheet file that will make things easier?

There are different options for getting data from a PDF into a format you can interact with more directly. I ended up just copy-pasting the full contents of each file as it didn't seem that some of the PDF-to-spreadsheet/other tools out there would really save me that much time. 

I tried several text editors and spreadsheet applications, looking for something that would do a relatively good job delimiting the data based on the PDF files. Sublime is one of my favorites and that's what I used in the end. 

Tips
* Try a couple different editors and delimit options, and read each one into pandas to see how the structure of the data looks. Choose one that will minimize the amount of cleaning you need to do
* Keep your .txt file open as you begin cleaning in pandas
* Never save over your raw .txt file! This is a trial-and-error process and you will likely end up losing some data at one point or another. If you've saved over the starting point you will have to go back to your PDF...


I'm going to use very much the same approach for cleaning up the files containing Report 3, the quarterly distribution by 100K population. These files were quite a bit messier, so the preprocessing is more complex and there were some differences in format in some of the files that I discovered via the testing techniques.

In [275]:
pop_2000 = pd.read_csv('population_2000.txt', delim_whitespace=True)
pop_2000.head(15)

,ARCOS,2,-,REPORT,3,QUARTERLY,DISTRIBUTION,IN,GRAMS,PER,"100,000",POPULATION
0,REPORTING,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DRUG,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN
2,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,TO,DATE
3,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALASKA,105.20,95.05,101.17,110.90,412.33,NaN,NaN,NaN,NaN,NaN,NaN
5,ALABAMA,172.96,149.64,168.43,187.49,678.54,NaN,NaN,NaN,NaN,NaN,NaN
6,ARKANSAS,174.08,160.97,171.89,190.19,697.14,NaN,NaN,NaN,NaN,NaN,NaN
7,ARIZONA,134.19,131.48,127.38,138.19,531.25,NaN,NaN,NaN,NaN,NaN,NaN
8,CALIFORNIA,50.79,52.67,49.06,54.98,207.53,NaN,NaN,NaN,NaN,NaN,NaN
9,COLORADO,60.53,52.67,61.75,71.06,246.02,NaN,NaN,NaN,NaN,NaN,NaN
10,CONNECTICUT,92.78,99.15,93.85,110.78,396.58,NaN,NaN,NaN,NaN,NaN,NaN
11,DISTRICT,OF,COLUMBIA,63.17,66.68,65.53,77.29,272.69,NaN,NaN,NaN,NaN
12,DELAWARE,327.76,336.02,301.13,305.43,"1,270.36",NaN,NaN,NaN,NaN,NaN,NaN
13,FLORIDA,133.64,121.75,128.55,136.70,520.65,NaN,NaN,NaN,NaN,NaN,NaN
14,GEORGIA,151.20,129.59,146.51,164.87,592.19,NaN,NaN,NaN,NaN,NaN,NaN

#### Step 2 - check for unusual or irregular data

As with Report 1, in order to do the data cleaning in bulk we will be making assumptions of the format of the data when it comes it. So before we can safely process each file we want to check those assumptions.

In [276]:
def check_pop_data(df):
    df.rename(columns={'ARCOS': "State", 
                   '2':'Q1', 
                   '-': 'Q2', 
                   'REPORT': 'Q3', 
                   '3':'Q4', 
                   'QUARTERLY':'TOTAL'}, 
          inplace=True)
    
    print("Checking State column - we expect mostly state names here, as well as DRUG.")
    print(df['State'].unique())
    print()
    print()
    print('For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.')
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    
    for c in cols:
        vals = df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique()
        print("Checking column {} for unusual values.".format(c))
        if c=='Q1':
            print("We expect to see CODE: but not DRUG, and no drug codes.")
            if 'DRUG' in vals:
                print("Irregular value: DRUG")
        if c=='Q2':
            print("We expect to see drug codes here, but should not see DRUG or CODE.")
            if 'DRUG' in vals:
                print("Irregular value: 'DRUG'")
            if 'CODE' in vals:
                print("Irregular value: 'CODE'")
        if c=='Q3':
            print("We expect to see DRUG here, but no drug codes.")
        if c=='Q4':
            print("We expect to see NAME: here, but not DRUG and no drug codes.")
            if 'DRUG' in vals:
                print("Irregular value: DRUG")
        if c=='TOTAL':
            print("We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.")
            if 'DRUG' in vals:
                print("Irregular value: 'DRUG'")
            if 'NAME' in vals:
                print("Irregular value: 'NAME'")
            if 'CODE' in vals:
                print("Irregular value: 'CODE'")
        print(df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique())
        print()
        print()
    
    cols2 = ['DISTRIBUTION', 'IN', 'GRAMS', 'PER', '100,000', 'POPULATION']
    print()
    print("For the rest of the columns, we expect mostly NaNs and some partial drug names.")
    for c in cols2:
        print("Checking column {} for unusual values.".format(c))
        print(df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique())
        print()

In [277]:
pop_2000.head()

,ARCOS,2,-,REPORT,3,QUARTERLY,DISTRIBUTION,IN,GRAMS,PER,"100,000",POPULATION
0,REPORTING,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DRUG,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN
2,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,TO,DATE
3,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALASKA,105.20,95.05,101.17,110.90,412.33,NaN,NaN,NaN,NaN,NaN,NaN

In [278]:
check_pop_data(pop_2000)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'DRUG' 'STATE'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'ALASKA' 'ALABAMA' 'ARKANSAS' 'ARIZONA' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DISTRICT' 'DELAWARE' 'FLORIDA' 'GEORGIA' 'HAWAII' 'IOWA'
 'IDAHO' 'ILLINOIS' 'INDIANA' 'KANSAS' 'KENTUCKY' 'LOUISIANA'
 'MASSACHUSETTS' 'MARYLAND' 'MAINE' 'MICHIGAN' 'MINNESOTA' 'MISSOURI'
 'MISSISSIPPI' 'MONTANA' 'NEBRASKA' 'NORTH' 'NEW' 'NEVADA' 'OHIO'
 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE' 'DATE:' 'ARCOS'
 'QUARTERLY' 'SOUTH' 'TENNESSEE' 'TRUST' 'TEXAS' 'UTAH' 'VIRGINIA'
 'VIRGIN' 'VERMONT' 'WASHINGTON' 'WISCONSIN' 'WEST' 'WYOMING' 'UNITED']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: but not DRUG, and no drug codes.
['PERIOD:' 'CODE:' '1ST' nan 'OF' 'CAROLINA' 'DAKOTA' 'HAMPSHIRE' 'JERSEY'
 'MEXICO' 'YORK' 'RICO' 'ISLAND' '12/24/2002' 'ENFORCEMENT' '2'
 'DISTRIBUTION' 'TERRITORIES' 'ISLANDS' 'VIRGINIA' 'STATES']


Checking column Q2 for unusual values.
We expect to see drug codes here, but should not see DRUG or CODE.
['01/01/2000' '1100B' 'QUARTER' nan 'COLUMBIA' 'DEPARTMENT'
 'ADMINISTRATION' '-' 'IN' '(GUAM)' '1100D' '1724' '9143' '9193']


Checking column Q3 for unusual values.
We expect to see DRUG here, but no drug codes.
['TO' 'DRUG' '2ND' nan 'OF' 'REPORT' 'GRAMS']


Checking column Q4 for unusual values.
We expect to see NAME: here, but not DRUG and no drug codes.
['12/31/2000' 'NAME:' 'QUARTER' nan 'JUSTICE' '3' 'PER']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan 'DL-AMPHETAMINE' '3RD' 'PAGE:' '100,000' 'D-AMPHETAMINE'
 'METHYLPHENIDATE' 'OXYCODONE' 'HYDROCODONE']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DISTRIBUTION for unusual values.
[nan 'BASE' 'QUARTER' '2' 'POPULATION' '3' '4' '5' '6' '7' '8' '9' '10']

Checking column IN for unusual values.
[nan '4TH']

Checking column GRAMS for unusual values.
[nan 'QUARTER']

Checking column PER for unusual values.
[nan 'TOTAL']

Checking column 100,000 for unusual values.
[nan 'TO']

Checking column POPULATION for unusual values.
[nan 'DATE']

#### Step 3 - determine if we can reuse old code

Having checked for irregular data, we can move on to cleaning it.

This data looks really similar to what we had in the other zipcode-level report, so we should be able to reuse most of the code from the finished cleaning functions there.

The old code is below, with comments describing what we'll probably need to change.

In [279]:
# DON'T NEED TO RUN THIS CELL
# Here's the cleaning code for the zipcode reports, from the previous notebook
def clean_zip_old(df, year):
    # this step can remain largely similar
    df.rename(columns={'ARCOS': "Zip", 
                       '2':'Q1', 
                       '-': 'Q2', 
                       'REPORT': 'Q3', 
                       '1':'Q4', 
                       'RETAIL':'TOTAL'}, 
                  inplace=True)
    
    # we don't have to deal with shifted state totals
    # though we will have to deal with shifted data for long state names
    start = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DRUG']
    df.loc[df['Zip']=='STATE','Zip'] = df['Q1']
    for i in range(0,5):
        df.loc[df['Zip']=='TOTAL', start[i]] = df[shift[i]]
   
    # this will remain, though we already have state taken care of
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='State', loc=1, value=None)
    df.insert(column='Drug', loc=2, value=None)

    # No need to get the state names except for the long ones - they are already there
    df.loc[df['Zip']=='STATE:', 'State'] = df['Q1']
    df.loc[(df['Zip']=="STATE:") & 
           (pd.notnull(df['Q2'])), 'State'] = df["State"]+" "+df['Q2']
    df.loc[(df['Zip']=="STATE:") & 
           (pd.notnull(df['Q3'])), 'State'] = df["State"]+" "+df['Q3']

    # will need to check what states are present
    df.loc[df['State']=='TRUST TERRITORIES (GUAM)', 'State'] = 'GUAM'        

    # some version of this will probably be needed 
    drops = ['ENFORCEMENT', 'REPORTING', 'RETAIL', 'DATE:', 'ZIP', 'ARCOS']
    for d in drops:
        df = df.drop(df[df['Zip']==d].index)
        df = df.drop(df[df['Q1']==d].index)
    
    #  this looks like it will be very similar
    for key in drug_codes.keys():
        df.loc[(df['Q1']=='CODE:') &
               (df['Q2']==key), 'Drug'] = drug_codes[key]

    # this should be reusable
    df['State'] = df['State'].fillna(method='ffill')
    df['Drug'] = df['Drug'].fillna(method='ffill')

    # May vary slightly
    df=df.drop(df[df['Zip']=='DRUG'].index)
    df=df.drop(df[df['Zip']=='STATE:'].index)
    df = df[['Year', 'State', 'Drug', 'Zip', 
             'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
    df = df.drop(df.loc[pd.isnull(df['TOTAL'])].index)
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)
    return df

#### Step 4 - readability and column names

Next, rename the key columns to make it easier to work with.

In [280]:
pop_2000.rename(columns={'ARCOS': "State", 
                   '2':'Q1', 
                   '-': 'Q2', 
                   'REPORT': 'Q3', 
                   '3':'Q4', 
                   'QUARTERLY':'TOTAL'}, 
          inplace=True)

pop_2000.head(10)

,State,Q1,Q2,Q3,Q4,TOTAL,DISTRIBUTION,IN,GRAMS,PER,"100,000",POPULATION
0,REPORTING,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DRUG,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN
2,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,TO,DATE
3,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALASKA,105.20,95.05,101.17,110.90,412.33,NaN,NaN,NaN,NaN,NaN,NaN
5,ALABAMA,172.96,149.64,168.43,187.49,678.54,NaN,NaN,NaN,NaN,NaN,NaN
6,ARKANSAS,174.08,160.97,171.89,190.19,697.14,NaN,NaN,NaN,NaN,NaN,NaN
7,ARIZONA,134.19,131.48,127.38,138.19,531.25,NaN,NaN,NaN,NaN,NaN,NaN
8,CALIFORNIA,50.79,52.67,49.06,54.98,207.53,NaN,NaN,NaN,NaN,NaN,NaN
9,COLORADO,60.53,52.67,61.75,71.06,246.02,NaN,NaN,NaN,NaN,NaN,NaN

#### Step 5 - getting the drug names

First we'll add a column for year and drug name, then get the drug names. 

We can get the drug names in the same way we did in Part 1 with the old files, by using the dict of drug codes and names.

Assumption check! Is it an accurate assumption that the drug codes are only appearing in column Q2, and that they are always preceded by "DRUG" in the state column? You can easily check this without having to scan through every row by looking at the unique values that are currently present in those columns.

In [281]:
with open('drug_codes.pickle', 'rb') as f:
    drug_codes = pickle.load(f)

pop_2000.insert(column='Year', loc=0, value=2000)
pop_2000.insert(column='Drug', loc=2, value=None)
for key in drug_codes.keys():
    pop_2000.loc[(pop_2000['State']=='DRUG')&(pop_2000['Q2']==key), 'Drug'] = drug_codes[key]

pop_2000.head(10)

,Year,State,Drug,Q1,Q2,Q3,Q4,TOTAL,DISTRIBUTION,IN,GRAMS,PER,"100,000",POPULATION
0,2000,REPORTING,None,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,DRUG,DL-AMPHETAMINE BASE,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN
2,2000,STATE,None,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,TO,DATE
3,2000,----------------------------------------------...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,ALASKA,None,105.20,95.05,101.17,110.90,412.33,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,ALABAMA,None,172.96,149.64,168.43,187.49,678.54,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,ARKANSAS,None,174.08,160.97,171.89,190.19,697.14,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,ARIZONA,None,134.19,131.48,127.38,138.19,531.25,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,CALIFORNIA,None,50.79,52.67,49.06,54.98,207.53,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,COLORADO,None,60.53,52.67,61.75,71.06,246.02,NaN,NaN,NaN,NaN,NaN,NaN

In [282]:
pop_2000['Drug'].unique()

array([None, 'DL-AMPHETAMINE BASE', 'D-AMPHETAMINE BASE',
       'METHYLPHENIDATE', 'OXYCODONE', 'HYDROCODONE'], dtype=object)

It looks good, so we'll continue with forward filling the drug names, and go ahead and drop the rows with just drug names in them. 

First, double check that there's nothing in the drug column we don't expect to be there.

In [283]:
pop_2000['Drug'].unique()

array([None, 'DL-AMPHETAMINE BASE', 'D-AMPHETAMINE BASE',
       'METHYLPHENIDATE', 'OXYCODONE', 'HYDROCODONE'], dtype=object)

In [284]:
# forward fill the drug names 
pop_2000['Drug'] = pop_2000['Drug'].fillna(method='ffill')

# drop the drug name rows
pop_2000 = pop_2000.drop(pop_2000[pop_2000['State']=='DRUG'].index)

pop_2000.head(10)

,Year,State,Drug,Q1,Q2,Q3,Q4,TOTAL,DISTRIBUTION,IN,GRAMS,PER,"100,000",POPULATION
0,2000,REPORTING,None,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,STATE,DL-AMPHETAMINE BASE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,TO,DATE
3,2000,----------------------------------------------...,DL-AMPHETAMINE BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,ALASKA,DL-AMPHETAMINE BASE,105.20,95.05,101.17,110.90,412.33,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,ALABAMA,DL-AMPHETAMINE BASE,172.96,149.64,168.43,187.49,678.54,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,ARKANSAS,DL-AMPHETAMINE BASE,174.08,160.97,171.89,190.19,697.14,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,ARIZONA,DL-AMPHETAMINE BASE,134.19,131.48,127.38,138.19,531.25,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,CALIFORNIA,DL-AMPHETAMINE BASE,50.79,52.67,49.06,54.98,207.53,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,COLORADO,DL-AMPHETAMINE BASE,60.53,52.67,61.75,71.06,246.02,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,CONNECTICUT,DL-AMPHETAMINE BASE,92.78,99.15,93.85,110.78,396.58,NaN,NaN,NaN,NaN,NaN,NaN

#### Step 6 - dealing with long state names

Next we have to deal with the long state names that got split out into multiple columns. This is pretty clean data so a couple simple rules will work.

Again a moment to check your assumption about how the data are formatted - use a unique values check to be sure you're right.

In [285]:
pop_2000.loc[pd.notnull(pop_2000['DISTRIBUTION']), 'State']=pop_2000["State"]+" "+pop_2000['Q1']
pop_2000.loc[pd.notnull(pop_2000['IN']), 'State']=pop_2000["State"] +" "+pop_2000['Q2']

pop_2000.head(10)

,Year,State,Drug,Q1,Q2,Q3,Q4,TOTAL,DISTRIBUTION,IN,GRAMS,PER,"100,000",POPULATION
0,2000,REPORTING,None,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,STATE 1ST QUARTER,DL-AMPHETAMINE BASE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,TO,DATE
3,2000,----------------------------------------------...,DL-AMPHETAMINE BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,ALASKA,DL-AMPHETAMINE BASE,105.20,95.05,101.17,110.90,412.33,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,ALABAMA,DL-AMPHETAMINE BASE,172.96,149.64,168.43,187.49,678.54,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,ARKANSAS,DL-AMPHETAMINE BASE,174.08,160.97,171.89,190.19,697.14,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,ARIZONA,DL-AMPHETAMINE BASE,134.19,131.48,127.38,138.19,531.25,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,CALIFORNIA,DL-AMPHETAMINE BASE,50.79,52.67,49.06,54.98,207.53,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,COLORADO,DL-AMPHETAMINE BASE,60.53,52.67,61.75,71.06,246.02,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,CONNECTICUT,DL-AMPHETAMINE BASE,92.78,99.15,93.85,110.78,396.58,NaN,NaN,NaN,NaN,NaN,NaN

#### Step 7 - dealing with shifted state data

Next, the data that was shifted over by the longer state names needs to be fixed. This can be done again with a couple simple rules to handle the case of 2- and 3-word state names.

In [286]:
shift = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL', 'DISTRIBUTION', 'IN']
for i in range(0,5):
    pop_2000.loc[((pd.notnull(pop_2000['DISTRIBUTION'])) 
            & (pd.notnull(pop_2000['IN']))), shift[i]] = pop_2000[shift[i+2]]

for i in range(0,5):
    pop_2000.loc[((pd.notnull(pop_2000['DISTRIBUTION'])) 
            & (pd.isnull(pop_2000['IN']))), shift[i]] = pop_2000[shift[i+1]]

pop_2000.head(10)

,Year,State,Drug,Q1,Q2,Q3,Q4,TOTAL,DISTRIBUTION,IN,GRAMS,PER,"100,000",POPULATION
0,2000,REPORTING,None,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,STATE 1ST QUARTER,DL-AMPHETAMINE BASE,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,4TH,QUARTER,TOTAL,TO,DATE
3,2000,----------------------------------------------...,DL-AMPHETAMINE BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,ALASKA,DL-AMPHETAMINE BASE,105.20,95.05,101.17,110.90,412.33,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,ALABAMA,DL-AMPHETAMINE BASE,172.96,149.64,168.43,187.49,678.54,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,ARKANSAS,DL-AMPHETAMINE BASE,174.08,160.97,171.89,190.19,697.14,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,ARIZONA,DL-AMPHETAMINE BASE,134.19,131.48,127.38,138.19,531.25,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,CALIFORNIA,DL-AMPHETAMINE BASE,50.79,52.67,49.06,54.98,207.53,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,COLORADO,DL-AMPHETAMINE BASE,60.53,52.67,61.75,71.06,246.02,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,CONNECTICUT,DL-AMPHETAMINE BASE,92.78,99.15,93.85,110.78,396.58,NaN,NaN,NaN,NaN,NaN,NaN

#### Step 8 - drop any unneeded or empty rows

Now we can go through and remove any rows that are empty, just contain header data, etc. A good way to do this is to say that if a row has a value that's not in the universe of possible state or territory names in the state column, we can drop it. That should take care of almost everything,  and any other issues will pop up when we do the type conversion of the numeric columns.

In [287]:
# change references to Guam before doing these drops
pop_2000.loc[pop_2000['State']=='TRUST TERRITORIES (GUAM)', 'State'] = 'GUAM'
# give yourself a view into what's getting dropped
print("Dropping rows with the following values in the State column:")
print(pop_2000['State'].loc[~(pop_2000['State'].isin(geos))].unique())
pop_2000 = pop_2000.drop(pop_2000.loc[~(pop_2000['State'].isin(geos))].index)

Dropping rows with the following values in the State column:
['REPORTING' 'STATE 1ST QUARTER'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'DATE: 12/24/2002' 'ARCOS' 'QUARTERLY DISTRIBUTION']

#### Step 8 - final clean-up

Last few things to do - drop out the extra columns, and convert the numeric columns to floats.

In [289]:
pop_2000.head()

,Year,State,Drug,Q1,Q2,Q3,Q4,TOTAL,DISTRIBUTION,IN,GRAMS,PER,"100,000",POPULATION
4,2000,ALASKA,DL-AMPHETAMINE BASE,105.20,95.05,101.17,110.90,412.33,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,ALABAMA,DL-AMPHETAMINE BASE,172.96,149.64,168.43,187.49,678.54,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,ARKANSAS,DL-AMPHETAMINE BASE,174.08,160.97,171.89,190.19,697.14,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,ARIZONA,DL-AMPHETAMINE BASE,134.19,131.48,127.38,138.19,531.25,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,CALIFORNIA,DL-AMPHETAMINE BASE,50.79,52.67,49.06,54.98,207.53,NaN,NaN,NaN,NaN,NaN,NaN

In [291]:
pop_2000 = pop_2000[['Year', 'State', 'Drug', 'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
for col in cols:
    pop_2000[col] = pop_2000[col].str.replace(",","").astype(float)

### Refactor the code

There was a little more variation in these file formats. As I processed each of the files I updated the function code for the different cases. I won't go through it here for brevity - taking the first function and modifying it yourself to clean each new file by trial & error and checking assumptions would be a great exercise to improve your pandas skills.

In [207]:
pop_2000.head()

,State,Q1,Q2,Q3,Q4,TOTAL,DISTRIBUTION,IN,GRAMS,PER,"100,000",POPULATION
0,REPORTING,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DRUG,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN
2,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,TO,DATE
3,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALASKA,105.20,95.05,101.17,110.90,412.33,NaN,NaN,NaN,NaN,NaN,NaN

In [604]:
def clean_pop_old(df, year, drug_codes, geos):
    """
    Use for years 2000-2004 inclusive of ARCOS Report 3 data. 
    """
    # rename columns
    df.rename(columns={'ARCOS': "State", 
                   '2':'Q1', 
                   '-': 'Q2', 
                   'REPORT': 'Q3', 
                   '3':'Q4', 
                   'QUARTERLY':'TOTAL'}, 
          inplace=True)
    
    # add new columns for year and drug
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='Drug', loc=2, value=None)
    
    # check for new substance codes
    codes = df['Q2'].loc[df['Q1'].str.contains('CODE', na=False)].unique().tolist()
    for c in codes:
        if c not in drug_codes.keys():
            print("Found new substance code: {}".format(c))
    
    # get the drug names
    for key in drug_codes.keys():
        df.loc[(df['State']=='DRUG') 
               & (df['Q2']==key), 'Drug'] = drug_codes[key]
    df['Drug'] = df['Drug'].fillna(method='ffill')
    df = df.drop(df[df['State']=='DRUG'].index)

    # fix longer state names
    df.loc[pd.notnull(df['DISTRIBUTION']), 'State'] = df["State"]+" "+df['Q1']
    df.loc[pd.notnull(df['IN']), 'State'] = df["State"] +" "+df['Q2']

    # fix shifted data
    shift = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL', 'DISTRIBUTION', 'IN']
    for i in range(0,5):
        df.loc[(pd.notnull(df['DISTRIBUTION']) 
                & pd.notnull(df['IN'])), shift[i]] = df[shift[i+2]]

    for i in range(0,5):
        df.loc[(pd.notnull(df['DISTRIBUTION']) 
                & pd.isnull(df['IN'])), shift[i]] = df[shift[i+1]]      

    # standardize some geography names
    df.loc[df['State']=='TRUST TERRITORIES (GUAM)', 'State'] = 'GUAM'
    df.loc[df['State']=='UNITED STATES TOTAL', 'State'] = 'UNITED STATES'
    df.loc[df['State']=='U.S. TOTAL', 'State'] = 'UNITED STATES'

    # drop out unnecessary rows (headers, etc.)
    print("Dropping rows with the following values in the State column:")
    print(df['State'].loc[~(df['State'].isin(geos))].unique())
    df = df.drop(df.loc[~(df['State'].isin(geos))].index)
    
    # keep only what we need
    df = df[['Year', 'State', 'Drug', 'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
    
    # change the datatype of the numeric columns
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)
    return df

# A change in the text/titling of the reports means a slightly different 
# function is needed for some of the older files

def clean_pop_oldv2(df, year, drug_codes, geos):
    """
    Use for years 2005 and 2006 of ARCOS Report 3 data.
    """
    # rename columns
    df.rename(columns={'ARCOS': "State", 
                       '2':'Q1', 
                       '-': 'Q2', 
                       'REPORT': 'Q3', 
                       '3':'Q4', 
                       'QUARTERLY':'TOTAL'}, 
              inplace=True)
    
    # add new columns for year and drug
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='Drug', loc=2, value=None)
    
    # check for new substance codes
    codes = df['Q2'].loc[df['Q1'].str.contains('CODE', na=False)].unique().tolist()
    for c in codes:
        if c not in drug_codes.keys():
            print("Found new substance code: {}".format(c))
    
    # get the drug names
    for key in drug_codes.keys():
        df.loc[(df['State']=='DRUG')&(df['Q2']==key), 'Drug'] = drug_codes[key]
    df['Drug'] = df['Drug'].fillna(method='ffill')
    df = df.drop(df[df['State']=='DRUG'].index)

    # fix longer state names
    df.loc[pd.notnull(df['DRUG']), 'State'] = df["State"]+" "+df['Q1']
    df.loc[pd.notnull(df['DISTRIBUTION']), 'State'] = df["State"] +" "+df['Q2']
    
    # fix shifted data
    start1 = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift1 = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DRUG']
    for i in range(0,5):
        df.loc[pd.notnull(df['DRUG']), start1[i]] = df[shift1[i]]
        
    start2 = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift2 = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DISTRIBUTION']
    for i in range(0,5):
        df.loc[pd.notnull(df['DISTRIBUTION']), start2[i]] = df[shift2[i]]        

    # standardize geography names    
    df = df.drop(df[df['State']=='DRUG'].index)
    df = df.drop(df[df['State']=='DRUG CODE:'].index)
    df.loc[df['State']=='TRUST TERRITORIES (GUAM)', 'State'] = 'GUAM'
    df.loc[df['State']=='UNITED STATES TOTAL', 'State'] = 'UNITED STATES'
    df.loc[df['State']=='U.S. TOTAL', 'State'] = 'UNITED STATES'

    # drop rows with unnecessary data (e.g., headers)
    print("Dropping rows with the following values in the State column:")
    print(df['State'].loc[~(df['State'].isin(geos))].unique())
    df = df.drop(df.loc[~(df['State'].isin(geos))].index)
    
    # keep only what we need
    df = df[['Year', 'State', 'Drug', 'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
    
    # change the data type of numeric columns
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)
    return df

def clean_pop_new(df, year, drug_codes, geos):
    """
    Use for years 2007-2017 inclusive of ARCOS Report 3 data. 
    """
    # rename columns
    df.rename(columns={'ARCOS': "State", 
                       '3':'Q1', 
                       '-': 'Q2', 
                       'REPORT': 'Q3', 
                       '3.1':'Q4', 
                       'QUARTERLY':'TOTAL'}, 
              inplace=True)

    # insert new columns for drug and year
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='Drug', loc=2, value=None)
    
    # check for new substance codes
    codes = df['Q1'].loc[df['Q1'].str.contains('CODE', na=False)].unique().tolist()
    for c in codes:
        if c.split(':')[1] not in drug_codes.keys():
            print("Found new substance code: {}".format(c))
    
    # the drug codes are coming in with a different format pattern in these files
    for key in drug_codes.keys():
        df.loc[(df['State']=='DRUG')&(df['Q1'].str[5:]==key), 'Drug'] = drug_codes[key]
    df['Drug'] = df['Drug'].fillna(method='ffill')
    df = df.drop(df[df['State']=='DRUG'].index)

    # fix longer state names
    df.loc[pd.notnull(df['DRUG']), 'State']=df["State"]+" "+df['Q1']
    df.loc[pd.notnull(df['DISTRIBUTION']), 'State']=df["State"] +" "+df['Q2']

    # fix shifted data
    start1 = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift1 = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DRUG']
    for i in range(0,5):
        df.loc[pd.notnull(df['DRUG']), start1[i]] = df[shift1[i]]
        
    start2 = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift2 = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DISTRIBUTION']
    for i in range(0,5):
        df.loc[pd.notnull(df['DISTRIBUTION']), start2[i]] = df[shift2[i]]        

        
    #df = df.drop(df[df['State']=='DRUG'].index)
    #df = df.drop(df[df['State']=='DRUG CODE:'].index)
    # update territory references
    df.loc[df['State']=='TRUST TERRITORIES (GUAM)', 'State'] = 'GUAM'
    df.loc[df['State']=='UNITED STATES TOTAL', 'State'] = 'UNITED STATES'
    df.loc[df['State']=='U.S. TOTAL', 'State'] = 'UNITED STATES'

    # drop out unnecessary rows (e.g., headers)
    print("Dropping rows with the following values in the State column:")
    print(df['State'].loc[~(df['State'].isin(geos))].unique())
    df = df.drop(df.loc[~(df['State'].isin(geos))].index)
    
    # keep only what we need
    df = df[['Year', 'State', 'Drug', 'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
    
    # update datatype of numeric columns
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)
    return df

#### Load in and check the rest of the files

Next step is to load in the rest of the files and check them for irregularities. Just like with the zip files, there are differences in some of the file formats so I made a few additional versions of the function that checks for irregular data. You could probably combine them into a single function that would handle all cases but I found it easier to break out this way.

In [165]:
def check_pop_data_v2(df):
    """
    Use for checking population data files for years 2004 and 2005 inclusive.
    """
    df.rename(columns={'ARCOS': "State", 
                   '2':'Q1', 
                   '-': 'Q2', 
                   'REPORT': 'Q3', 
                   '3':'Q4', 
                   'QUARTERLY':'TOTAL'}, 
          inplace=True)
    
    print("Checking State column - we expect mostly state names here, as well as DRUG.")
    print(df['State'].unique())
    print()
    print()
    print('For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.')
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    
    for c in cols:
        vals = df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique()
        print("Checking column {} for unusual values.".format(c))
        if c=='Q1':
            print("We expect to see CODE: but not DRUG, and no drug codes.")
            if 'DRUG' in vals:
                print("Irregular value: DRUG")
        if c=='Q2':
            print("We expect to see drug codes here, but should not see DRUG or CODE.")
            if 'DRUG' in vals:
                print("Irregular value: 'DRUG'")
            if 'CODE' in vals:
                print("Irregular value: 'CODE'")
        if c=='Q3':
            print("We expect to see DRUG here, but no drug codes.")
        if c=='Q4':
            print("We expect to see NAME: here, but not DRUG and no drug codes.")
            if 'DRUG' in vals:
                print("Irregular value: DRUG")
        if c=='TOTAL':
            print("We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.")
            if 'DRUG' in vals:
                print("Irregular value: 'DRUG'")
            if 'NAME' in vals:
                print("Irregular value: 'NAME'")
            if 'CODE' in vals:
                print("Irregular value: 'CODE'")
        print(df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique())
        print()
        print()
    
    cols2 = ['DRUG','DISTRIBUTION','BY','STATE',
             'PER','100,000','POPULATION','BY.1',
             'GRAMS','WEIGHT']
    print()
    print("For the rest of the columns, we expect mostly NaNs and some partial drug names.")
    for c in cols2:
        print("Checking column {} for unusual values.".format(c))
        if pd.isnull(df[c]).all():
            print("Column {} is empty.".format(c))
        else:
            print(df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique())
        print()

        
def check_pop_data_v3(df):
    """
    Use for checking population data files for year 2006 to 2010, and 2012 to 2017, inclusive.
    """
    df.rename(columns={'ARCOS': "State", 
                   '3':'Q1', 
                   '-': 'Q2', 
                   'REPORT': 'Q3', 
                   '3.1':'Q4', 
                   'QUARTERLY':'TOTAL'}, 
          inplace=True)
    
    print("Checking State column - we expect mostly state names here, as well as DRUG.")
    print(df['State'].unique())
    print()
    print()
    print('For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.')
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    
    for c in cols:
        vals = df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique()
        print("Checking column {} for unusual values.".format(c))
        if c=='Q1':
            print("We expect to see CODE: concatenated with drug codes.")
        if c=='Q2':
            print("We should see DRUG here, but not CODE or NAME.")
            if 'NAME' in vals:
                print("Irregular value: 'NAME'")
            if 'CODE' in vals:
                print("Irregular value: 'CODE'")
        if c=='Q3':
            print("We expect to see NAME: here, but no drug codes.")
        if c=='Q4':
            print("We expect to see full/partial drug names. ")
            if 'DRUG' in vals:
                print("Irregular value: DRUG")
        if c=='TOTAL':
            print("We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.")
            if 'DRUG' in vals:
                print("Irregular value: 'DRUG'")
            if 'NAME' in vals:
                print("Irregular value: 'NAME'")
            if 'CODE' in vals:
                print("Irregular value: 'CODE'")
        print(df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique())
        print()
        print()
    
    cols2 = ['DRUG','DISTRIBUTION','BY','STATE',
             'PER','100K','POPULATION','BY.1',
             'GRAM','WT']
    
    print()
    print("For the rest of the columns, we expect mostly NaNs and some partial drug names.")
    for c in cols2:
        print("Checking column {} for unusual values.".format(c))
        if pd.isnull(df[c]).all():
            print("Column {} is empty.".format(c))
        else:
            print(df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique())
        print()      
        

def check_pop_data_v4(df):
    """
    Use for checking population data files for year 2011 only.
    """
    df.rename(columns={'ARCOS': "State", 
                   '3':'Q1', 
                   '-': 'Q2', 
                   'REPORT': 'Q3', 
                   '3.1':'Q4', 
                   'QUARTERLY':'TOTAL'}, 
          inplace=True)
    
    print("Checking State column - we expect mostly state names here, as well as DRUG.")
    print(df['State'].unique())
    print()
    print()
    print('For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.')
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    
    for c in cols:
        vals = df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique()
        print("Checking column {} for unusual values.".format(c))
        if c=='Q1':
            print("We expect to see CODE: concatenated with drug codes.")
        if c=='Q2':
            print("We should see DRUG here, but not CODE or NAME.")
            if 'NAME' in vals:
                print("Irregular value: 'NAME'")
            if 'CODE' in vals:
                print("Irregular value: 'CODE'")
        if c=='Q3':
            print("We expect to see NAME: here, but no drug codes.")
        if c=='Q4':
            print("We expect to see full/partial drug names. ")
            if 'DRUG' in vals:
                print("Irregular value: DRUG")
        if c=='TOTAL':
            print("We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.")
            if 'DRUG' in vals:
                print("Irregular value: 'DRUG'")
            if 'NAME' in vals:
                print("Irregular value: 'NAME'")
            if 'CODE' in vals:
                print("Irregular value: 'CODE'")
        print(df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique())
        print()
        print()
    
    cols2 = ['DRUG', 'DISTRIBUTION', 'BY',
             'STATE', '/', '100K', 'POPULATION',
             'BY.1', 'MILIGRAM', 'WT']
    
    print()
    print("For the rest of the columns, we expect mostly NaNs and some partial drug names.")
    for c in cols2:
        print("Checking column {} for unusual values.".format(c))
        if pd.isnull(df[c]).all():
            print("Column {} is empty.".format(c))
        else:
            print(df[c].loc[~df[c].str.match('[-+]?[0-9,]*\.[0-9]+$', na=False)].unique())
        print()

In [568]:
pop_2000 = pd.read_csv('population_2000.txt', delim_whitespace=True)
check_pop_data(pop_2000)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'DRUG' 'STATE'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'ALASKA' 'ALABAMA' 'ARKANSAS' 'ARIZONA' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DISTRICT' 'DELAWARE' 'FLORIDA' 'GEORGIA' 'HAWAII' 'IOWA'
 'IDAHO' 'ILLINOIS' 'INDIANA' 'KANSAS' 'KENTUCKY' 'LOUISIANA'
 'MASSACHUSETTS' 'MARYLAND' 'MAINE' 'MICHIGAN' 'MINNESOTA' 'MISSOURI'
 'MISSISSIPPI' 'MONTANA' 'NEBRASKA' 'NORTH' 'NEW' 'NEVADA' 'OHIO'
 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE' 'DATE:' 'ARCOS'
 'QUARTERLY' 'SOUTH' 'TENNESSEE' 'TRUST' 'TEXAS' 'UTAH' 'VIRGINIA'
 'VIRGIN' 'VERMONT' 'WASHINGTON' 'WISCONSIN' 'WEST' 'WYOMING' 'UNITED']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: but not DRUG, and no drug codes.
['PERIOD:' 'CODE:' '1ST' nan 'OF' 'CAROLINA' 'DAKOTA' 'HAMPSHIRE' 'JERSEY'
 'MEXICO' 'YORK' 'RICO' 'ISLAND' '12/24/2002' 'ENFORCEMENT' '2'
 'DISTRIBUTION' 'TERRITORIES' 'ISLANDS' 'VIRGINIA' 'STATES']


Checking column Q2 for unusual values.
We expect to see drug codes here, but should not see DRUG or CODE.
['01/01/2000' '1100B' 'QUARTER' nan 'COLUMBIA' 'DEPARTMENT'
 'ADMINISTRATION' '-' 'IN' '(GUAM)' '1100D' '1724' '9143' '9193']


Checking column Q3 for unusual values.
We expect to see DRUG here, but no drug codes.
['TO' 'DRUG' '2ND' nan 'OF' 'REPORT' 'GRAMS']


Checking column Q4 for unusual values.
We expect to see NAME: here, but not DRUG and no drug codes.
['12/31/2000' 'NAME:' 'QUARTER' nan 'JUSTICE' '3' 'PER']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan 'DL-AMPHETAMINE' '3RD' 'PAGE:' '100,000' 'D-AMPHETAMINE'
 'METHYLPHENIDATE' 'OXYCODONE' 'HYDROCODONE']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DISTRIBUTION for unusual values.
[nan 'BASE' 'QUARTER' '2' 'POPULATION' '3' '4' '5' '6' '7' '8' '9' '10']

Checking column IN for unusual values.
[nan '4TH']

Checking column GRAMS for unusual values.
[nan 'QUARTER']

Checking column PER for unusual values.
[nan 'TOTAL']

Checking column 100,000 for unusual values.
[nan 'TO']

Checking column POPULATION for unusual values.
[nan 'DATE']

In [569]:
pop_2001 = pd.read_csv('pop_2001.txt', delim_whitespace=True)
check_pop_data(pop_2001)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'DRUG' 'STATE'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'ALASKA' 'ALABAMA' 'ARKANSAS' 'ARIZONA' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DISTRICT' 'DELAWARE' 'FLORIDA' 'GEORGIA' 'HAWAII' 'IOWA'
 'IDAHO' 'ILLINOIS' 'INDIANA' 'KANSAS' 'KENTUCKY' 'LOUISIANA'
 'MASSACHUSETTS' 'MARYLAND' 'MAINE' 'MICHIGAN' 'MINNESOTA' 'MISSOURI'
 'MISSISSIPPI' 'MONTANA' 'NEBRASKA' 'NORTH' 'NEW' 'NEVADA' 'OHIO'
 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE' 'DATE:' 'ARCOS'
 'QUARTERLY' 'SOUTH' 'TENNESSEE' 'TRUST' 'TEXAS' 'UTAH' 'VIRGINIA'
 'VIRGIN' 'VERMONT' 'WASHINGTON' 'WISCONSIN' 'WEST' 'WYOMING' 'UNITED']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: but not DRUG, and no drug codes.
['PERIOD:' 'CODE:' '1ST' nan 'OF' 'CAROLINA' 'DAKOTA' 'HAMPSHIRE' 'JERSEY'
 'MEXICO' 'YORK' 'RICO' 'ISLAND' '12/19/2002' 'ENFORCEMENT' '2'
 'DISTRIBUTION' 'TERRITORIES' 'ISLANDS' 'VIRGINIA' 'STATES']


Checking column Q2 for unusual values.
We expect to see drug codes here, but should not see DRUG or CODE.
['01/01/2001' '1100B' 'QUARTER' nan 'COLUMBIA' 'DEPARTMENT'
 'ADMINISTRATION' '-' 'IN' '(GUAM)' '1100D' '1105D' '1105L' '1724' '2125'
 '2165' '2270' '2315' '7471' '9041L' '9050' '9058' '9104' '9120' '9143'
 '9150' '9170' '9180L' '9190' '9193' '9220L' '9230' '9250B' '9300' '9317'
 '9603' '9639' '9652' '9655' '9737' '9739' '9740' '9743' '9801']


Checking column Q3 for unusual values.
We expect to see DRUG here, but no drug codes.
['TO' 'DRUG' '2ND' nan 'OF' 'REPORT' 'GRAMS']


Checking column Q4 for unusual values.
We expect to see NAME: here, but not DRUG and no drug codes.
['12/31/2001' 'NAME:' 'QUARTER' nan 'JUSTICE' '3' 'PER']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan 'DL-AMPHETAMINE' '3RD' 'PAGE:' '100,000' 'D-AMPHETAMINE'
 'D-METHAMPHETAMINE' 'LEVOMETHAMPHETAMINE' 'METHYLPHENIDATE' 'AMOBARBITAL'
 'BUTALBITAL' 'PENTOBARBITAL' 'SECOBARBITAL' 'PHENCYCLIDINE' 'COCAINE'
 'CODEINE' 'DIPRENORPHINE' 'NORCODEINE' 'DIHYDROCODEINE' 'OXYCODONE'
 'HYDROMORPHONE' 'DIPHENOXYLATE' 'ECGONINE' 'ETHYLMORPHINE' 'HYDROCODONE'
 'LEVORPHANOL' 'MEPERIDINE' 'METHADONE' 'MORPHINE' 'NALTREXONE'
 'ALPHAACETYLMETHADOL' 'OPIUM' 'OXYMORPHONE' 'PAREGORIC/OPIUM'
 'ALFENTANIL' 'REMIFENTANIL' 'SUFENTANIL' 'CARFENTANIL' 'FENTANYL']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DISTRIBUTION for unusual values.
[nan 'BASE' 'QUARTER' '2' 'POPULATION' '3' '4' '5' '6' '7' '8' '9' '10'
 '(SCHEDULE' '11' '12' '13' '14' '15' '16' '17' '18' '(PCP)' '19' '20'
 '21' '22' '23' '24' '25' '26' '27' '28' '29' '30' '31' '32' '33' '34'
 '35' '36' '37' '38' '(PETHIDINE)' '39' '40' '41' '42' '43' '44' '45' '46'
 'POWDERED' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57' '58'
 '59' '60']

Checking column IN for unusual values.
[nan '4TH' '2)']

Checking column GRAMS for unusual values.
[nan 'QUARTER']

Checking column PER for unusual values.
[nan 'TOTAL']

Checking column 100,000 for unusual values.
[nan 'TO']

Checking column POPULATION for unusual values.
[nan 'DATE']

In [570]:
pop_2002 = pd.read_csv('pop_2002.txt', delim_whitespace=True)
check_pop_data(pop_2002)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'DRUG' 'STATE'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'ALASKA' 'ALABAMA' 'ARKANSAS' 'ARIZONA' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DISTRICT' 'DELAWARE' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII'
 'IOWA' 'IDAHO' 'ILLINOIS' 'INDIANA' 'KANSAS' 'KENTUCKY' 'LOUISIANA'
 'MASSACHUSETTS' 'MARYLAND' 'MAINE' 'MICHIGAN' 'MINNESOTA' 'MISSOURI'
 'MISSISSIPPI' 'MONTANA' 'NORTH' 'NEBRASKA' 'NEW' 'NEVADA' 'OHIO'
 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'DATE:' 'ARCOS' 'QUARTERLY'
 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS' 'UTAH' 'VIRGINIA' 'VIRGIN' 'VERMONT'
 'WASHINGTON' 'WISCONSIN' 'WEST' 'WYOMING' 'UNITED' 'AMERICAN']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: but not DRUG, and no drug codes.
['PERIOD:' 'CODE:' '1ST' nan 'OF' 'CAROLINA' 'DAKOTA' 'HAMPSHIRE' 'JERSEY'
 'MEXICO' 'YORK' 'RICO' '02/12/2004' 'ENFORCEMENT' '2' 'DISTRIBUTION'
 'ISLAND' 'ISLANDS' 'VIRGINIA' 'STATES' 'SAMOA']


Checking column Q2 for unusual values.
We expect to see drug codes here, but should not see DRUG or CODE.
['01/01/2002' '1100B' 'QUARTER' nan 'COLUMBIA' 'DEPARTMENT'
 'ADMINISTRATION' '-' 'IN' '1100D' '1105D' '1724' '9041L' '9050' '9064'
 '9143' '9150' '9193' '9230' '9250B' '9300' '9801']


Checking column Q3 for unusual values.
We expect to see DRUG here, but no drug codes.
['TO' 'DRUG' '2ND' nan 'OF' 'REPORT' 'GRAMS']


Checking column Q4 for unusual values.
We expect to see NAME: here, but not DRUG and no drug codes.
['12/31/2002' 'NAME:' 'QUARTER' nan 'JUSTICE' '3' 'PER']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan 'DL-AMPHETAMINE' '3RD' 'PAGE:' '100,000' 'D-AMPHETAMINE'
 'D-METHAMPHETAMINE' 'METHYLPHENIDATE' 'COCAINE' 'CODEINE' 'BUPRENORPHINE'
 'OXYCODONE' 'HYDROMORPHONE' 'HYDROCODONE' 'MEPERIDINE' 'METHADONE'
 'MORPHINE' 'FENTANYL']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DISTRIBUTION for unusual values.
[nan 'BASE' 'QUARTER' '2' 'POPULATION' '3' '4' '5' '6' '7' '8' '9' '10'
 '11' '12' '13' '14' '15' '16' '17' '18' '19' '20' '21' '(PETHIDINE)' '22'
 '23' '24' '25' '26' '27' '28']

Checking column IN for unusual values.
[nan '4TH']

Checking column GRAMS for unusual values.
[nan 'QUARTER']

Checking column PER for unusual values.
[nan 'TOTAL']

Checking column 100,000 for unusual values.
[nan 'TO']

Checking column POPULATION for unusual values.
[nan 'DATE']

In [571]:
pop_2003 = pd.read_csv('pop_2003.txt', delim_whitespace=True)
check_pop_data(pop_2003)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'DRUG' 'STATE'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'ALASKA' 'ALABAMA' 'ARKANSAS' 'ARIZONA' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DISTRICT' 'DELAWARE' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII'
 'IOWA' 'IDAHO' 'ILLINOIS' 'INDIANA' 'KANSAS' 'KENTUCKY' 'LOUISIANA'
 'MASSACHUSETTS' 'MARYLAND' 'MAINE' 'MICHIGAN' 'MINNESOTA' 'MISSOURI'
 'MISSISSIPPI' 'MONTANA' 'NORTH' 'NEBRASKA' 'NEW' 'NEVADA' 'OHIO'
 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'DATE:' 'ARCOS' 'QUARTERLY'
 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS' 'UTAH' 'VIRGINIA' 'VIRGIN' 'VERMONT'
 'WASHINGTON' 'WISCONSIN' 'WEST' 'WYOMING' 'UNITED' 'AMERICAN']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: but not DRUG, and no drug codes.
['PERIOD:' 'CODE:' '1ST' nan 'OF' 'CAROLINA' 'DAKOTA' 'HAMPSHIRE' 'JERSEY'
 'MEXICO' 'YORK' 'RICO' '11/24/2004' 'ENFORCEMENT' '2' 'DISTRIBUTION'
 'ISLAND' 'ISLANDS' 'VIRGINIA' 'STATES' 'SAMOA']


Checking column Q2 for unusual values.
We expect to see drug codes here, but should not see DRUG or CODE.
['01/01/2003' '1100B' 'QUARTER' nan 'COLUMBIA' 'DEPARTMENT'
 'ADMINISTRATION' '-' 'IN' '1100D' '1105D' '1724' '9041L' '9050' '9143'
 '9150' '9193' '9230' '9250B' '9300' '9801']


Checking column Q3 for unusual values.
We expect to see DRUG here, but no drug codes.
['TO' 'DRUG' '2ND' nan 'OF' 'REPORT' 'GRAMS']


Checking column Q4 for unusual values.
We expect to see NAME: here, but not DRUG and no drug codes.
['12/31/2003' 'NAME:' 'QUARTER' nan 'JUSTICE' '3' 'PER']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan 'DL-AMPHETAMINE' '3RD' 'PAGE:' '100,000' 'D-AMPHETAMINE'
 'D-METHAMPHETAMINE' 'METHYLPHENIDATE' 'COCAINE' 'CODEINE' 'OXYCODONE'
 'HYDROMORPHONE' 'HYDROCODONE' 'MEPERIDINE' 'METHADONE' 'MORPHINE'
 'FENTANYL']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DISTRIBUTION for unusual values.
[nan 'BASE' 'QUARTER' '2' 'POPULATION' '3' '4' '5' '6' '7' '8' '9' '10'
 '11' '12' '13' '14' '15' '16' '17' '18' '19' '(PETHIDINE)' '20' '21' '22'
 '23' '24' '25' '26']

Checking column IN for unusual values.
[nan '4TH']

Checking column GRAMS for unusual values.
[nan 'QUARTER']

Checking column PER for unusual values.
[nan 'TOTAL']

Checking column 100,000 for unusual values.
[nan 'TO']

Checking column POPULATION for unusual values.
[nan 'DATE']

In [572]:
pop_2004 = pd.read_csv('pop_2004.txt', delim_whitespace=True)
check_pop_data_v2(pop_2004)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'DRUG' 'STATE'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'ALASKA' 'ALABAMA' 'ARKANSAS' 'ARIZONA' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DISTRICT' 'DELAWARE' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII'
 'IOWA' 'IDAHO' 'ILLINOIS' 'INDIANA' 'KANSAS' 'KENTUCKY' 'LOUISIANA'
 'MASSACHUSETTS' 'MARYLAND' 'MAINE' 'MICHIGAN' 'MINNESOTA' 'MISSOURI'
 'MISSISSIPPI' 'MONTANA' 'NORTH' 'NEBRASKA' 'NEW' 'NEVADA' 'OHIO'
 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'DATE:' 'ARCOS' 'QUARTERLY'
 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS' 'UTAH' 'VIRGINIA' 'VIRGIN' 'VERMONT'
 'WASHINGTON' 'WISCONSIN' 'WEST' 'WYOMING' 'UNITED' 'AMERICAN']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: but not DRUG, and no drug codes.
Irregular value: DRUG
['PERIOD:' 'CODE:' '1ST' nan 'OF' 'CAROLINA' 'DAKOTA' 'HAMPSHIRE' 'JERSEY'
 'MEXICO' 'YORK' 'RICO' '12/14/2005' 'ENFORCEMENT' '2' 'DRUG' 'ISLAND'
 'ISLANDS' 'VIRGINIA' 'STATES' 'SAMOA']


Checking column Q2 for unusual values.
We expect to see drug codes here, but should not see DRUG or CODE.
['01/01/2004' '1100B' 'QUARTER' nan 'COLUMBIA' 'DEPARTMENT'
 'ADMINISTRATION,' '-' 'DISTRIBUTION' 'TOTAL' '1100D' '1105D' '1724'
 '9041L' '9050' '9143' '9150' '9193' '9230' '9250B' '9300' '9801']


Checking column Q3 for unusual values.
We expect to see DRUG here, but no drug codes.
['TO' 'DRUG' '2ND' nan 'OF' 'OFFICE' 'REPORT' 'BY']


Checking column Q4 for unusual values.
We expect to see NAME: here, but not DRUG and no drug codes.
['12/31/2004' 'NAME:' 'QUARTER' nan 'JUSTICE' 'OF' '3' 'STATE']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan 'DL-AMPHETAMINE' '3RD' 'PAGE:' 'DIVERSION' 'PER' 'D-AMPHETAMINE'
 'D-METHAMPHETAMINE' 'METHYLPHENIDATE' 'COCAINE' 'CODEINE' 'OXYCODONE'
 'HYDROMORPHONE' 'HYDROCODONE' 'MEPERIDINE' 'METHADONE' 'MORPHINE'
 'FENTANYL']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'BASE' 'QUARTER' '2' 'CONTROL' '100,000' '3' '4' '5' '6' '7' '8' '9'
 '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '(PETHIDINE)' '20' '21'
 '22' '23' '24' '25' '26']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAMS']

Checking column PER for unusual values.
[nan 'TO' 'WEIGHT']

Checking column 100,000 for unusual values.
[nan 'DATE']

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAMS for unusual values.
Column GRAMS is empty.

Checking column WEIGHT for unusual values.
Column WEIGHT is empty.

One thing to check - 'DRUG' showed up in column Q1 where we don't expect it.

In [573]:
pop_2004[pop_2004['Q1']=='DRUG']

,State,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY.1,GRAMS,WEIGHT
48,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
70,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
119,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
141,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
190,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
209,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
258,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
280,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
329,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
350,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
399,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
422,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
471,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
494,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
543,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
565,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
614,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
636,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
685,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
708,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
757,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
780,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
829,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
852,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN
901,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,"100,000",POPULATION,BY,GRAMS,WEIGHT,NaN,NaN,NaN,NaN,NaN

Turns out to be header data, and it will not cause any issues for the drug name checking.

In [574]:
pop_2005 = pd.read_csv('pop_2005.txt', delim_whitespace=True)
check_pop_data_v2(pop_2005)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'DRUG' 'STATE'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'ALASKA' 'ALABAMA' 'ARKANSAS' 'ARIZONA' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DISTRICT' 'DELAWARE' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII'
 'IOWA' 'IDAHO' 'ILLINOIS' 'INDIANA' 'KANSAS' 'KENTUCKY' 'LOUISIANA'
 'MASSACHUSETTS' 'MARYLAND' 'MAINE' 'MICHIGAN' 'MINNESOTA' 'MISSOURI'
 'MISSISSIPPI' 'MONTANA' 'NORTH' 'NEBRASKA' 'NEW' 'NEVADA' 'OHIO'
 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'DATE:' 'ARCOS' 'QUARTERLY'
 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS' 'UTAH' 'VIRGINIA' 'VIRGIN' 'VERMONT'
 'WASHINGTON' 'WISCONSIN' 'WEST' 'WYOMING' 'UNITED' 'AMERICAN']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: but not DRUG, and no drug codes.
Irregular value: DRUG
['PERIOD:' 'CODE:' '1ST' nan 'OF' 'CAROLINA' 'DAKOTA' 'HAMPSHIRE' 'JERSEY'
 'MEXICO' 'YORK' 'RICO' '10/06/2006' 'ENFORCEMENT' '2' 'DRUG' 'ISLAND'
 'ISLANDS' 'VIRGINIA' 'STATES' 'SAMOA']


Checking column Q2 for unusual values.
We expect to see drug codes here, but should not see DRUG or CODE.
['01/01/2005' '1100B' 'QUARTER' nan 'COLUMBIA' 'DEPARTMENT'
 'ADMINISTRATION,' '-' 'DISTRIBUTION' 'TOTAL' '1100D' '1724' '9041L'
 '9050' '9064' '9143' '9150' '9193' '9230' '9250B' '9300' '9801']


Checking column Q3 for unusual values.
We expect to see DRUG here, but no drug codes.
['TO' 'DRUG' '2ND' nan 'OF' 'OFFICE' 'REPORT' 'BY']


Checking column Q4 for unusual values.
We expect to see NAME: here, but not DRUG and no drug codes.
['12/31/2005' 'NAME:' 'QUARTER' nan 'JUSTICE' 'OF' '3' 'STATE']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan 'DL-AMPHETAMINE' '3RD' 'PAGE:' 'DIVERSION' 'PER' 'D-AMPHETAMINE'
 'METHYLPHENIDATE' 'COCAINE' 'CODEINE' 'BUPRENORPHINE' 'OXYCODONE'
 'HYDROMORPHONE' 'HYDROCODONE' 'MEPERIDINE' 'METHADONE' 'MORPHINE'
 'FENTANYL']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'BASE' 'QUARTER' '2' 'CONTROL' '100,000' '3' '4' '5' '6' '7' '8' '9'
 '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '(PETHIDINE)' '20' '21'
 '22' '23' '24' '25' '26']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAMS']

Checking column PER for unusual values.
[nan 'TO' 'WEIGHT']

Checking column 100,000 for unusual values.
[nan 'DATE']

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAMS for unusual values.
Column GRAMS is empty.

Checking column WEIGHT for unusual values.
Column WEIGHT is empty.

In [575]:
# same thing to check here and it's just header data
#pop_2005[pop_2005['Q1']=='DRUG']

In [576]:
pop_2006 = pd.read_csv('pop_2006.txt', delim_whitespace=True)
check_pop_data_v3(pop_2006)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'Population' 'Run' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA'
 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT' 'DELAWARE'
 'DISTRICT' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO' 'ILLINOIS'
 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE' 'MARYLAND'
 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI' 'MISSOURI' 'MONTANA'
 'NEBRASKA' 'NEVADA' 'NEW' 'NORTH' 'ARCOS' 'QUARTERLY' 'OHIO' 'OKLAHOMA'
 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS'
 'UTAH' 'VERMONT' 'VIRGIN' 'VIRGINIA' 'WASHINGTON' 'WEST' 'WISCONSIN'
 'WYOMING' 'U.S.' 'AMERICAN' 'SUBSTANCE']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'Year:' 'Date:' 'CODE:1100' '1ST' 'OF' 'HAMPSHIRE' 'JERSEY'
 'MEXICO' 'YORK' 'CAROLINA' '3' 'DRUG' 'DAKOTA' 'RICO' 'ISLAND' 'ISLANDS'
 'VIRGINIA' 'TOTAL' 'CODE:1105D' 'CODE:1724' 'SAMOA' '1,645' 'CODE:2010'
 '0' 'CODE:2125' 'CODE:2165' 'CODE:2270' '769' 'CODE:2315' '5' 'CODE:7285'
 'CODE:7370' 'CODE:7379' 'CODE:7471' 'CODE:9041L' 'CODE:9050' '1,835'
 'CODE:9064' 'CODE:9120' 'CODE:9143' 'CODE:9150' 'CODE:9180L' 'CODE:9190'
 'CODE:9193' 'CODE:9220L' 'CODE:9230' '962' '201' 'CODE:9250B' '489' '621'
 'CODE:9273D' 'CODE:9300' 'CODE:9333' 'CODE:9411' nan 'CODE:9639'
 'CODE:9652' 'CODE:9655' 'CODE:9665' 'CODE:9737' 'CODE:9739' 'CODE:9740'
 'CODE:9801']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2006' '2000' '03/27/2015' 'DRUG' 'QUARTER' 'COLUMBIA' '-'
 'DISTRIBUTION' '0' '8' '1,094' '27' '196' '203' nan '1' '51' '3']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' nan 'NAME:' '2ND' '541' 'REPORT' 'BY' '3' '0' '878' '489' '1']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2006' nan 'AMPHETAMINE' 'QUARTER' '3' 'STATE' 'D-METHAMPHETAMINE'
 'METHYLPHENIDATE' '1,731' '1,855' '1,379' 'GAMMA' '0' 'AMOBARBITAL'
 'BUTALBITAL' 'PENTOBARBITAL' '678' '1,611' 'SECOBARBITAL' 'KETAMINE'
 'TETRAHYDROCANNABINOL,SYNTHETIC' 'NABILONE' 'PHENCYCLIDINE' 'COCAINE'
 'CODEINE' 'BUPRENORPHINE' 'DIHYDROCODEINE' '49' 'OXYCODONE' '4,896'
 'HYDROMORPHONE' '100' 'ECGONINE' 'ETHYLMORPHINE' 'HYDROCODONE' '1,042'
 '1,116' 'LEVORPHANOL' 'MEPERIDINE' 'METHADONE' '849' 'DEXTROPROPOXYPHENE'
 'MORPHINE' '60' '2,596' 'THEBAINE' 'NALOXONE' 'OPIUM' '4' 'OXYMORPHONE'
 'PAREGORIC/OPIUM' '14-HYDROXYCODEINONE' 'ALFENTANIL' 'REMIFENTANIL'
 'SUFENTANIL' 'FENTANYL' '39']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' 'PER' '0' '7,024' 'HYDROXYBUTYRIC' '(SCHEDULE' '152' '611'
 '(PCP)' '8' '29' '11' '(PETHIDINE)' '952' 'POWDERED' '15' 'BASE' '174'
 '23']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '100K' '4' 'ACID' '2)' '0' '6,131' '203']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

In [577]:
# these are all just odd-looking values, but legitimate
#pop_2006[pop_2006['Q1']=='1,645']
#pop_2006[pop_2006['Q1']=='0']
#pop_2006[pop_2006['Q1']=='1,835']

In [578]:
# this is the US total value
#pop_2006[pop_2006['DRUG']=='6,131']

In [579]:
pop_2007 = pd.read_csv('pop_2007.txt', delim_whitespace=True)
check_pop_data_v3(pop_2007)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'Population' 'Run' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA'
 'AMERICAN' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT'
 'DELAWARE' 'DISTRICT' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO'
 'ILLINOIS' 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE'
 'MARYLAND' 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI'
 'MISSOURI' 'MONTANA' 'NEBRASKA' 'NEVADA' 'NEW' 'ARCOS' 'QUARTERLY'
 'NORTH' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE'
 'SOUTH' 'TENNESSEE' 'TEXAS' 'UTAH' 'VERMONT' 'VIRGIN' 'VIRGINIA'
 'WASHINGTON' 'WEST' 'WISCONSIN' 'WYOMING' 'U.S.' 'SUBSTANCE']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'Year:' 'Date:' 'CODE:1100' '1ST' 'SAMOA' 'OF' 'HAMPSHIRE'
 'JERSEY' 'MEXICO' 'YORK' '3' 'DRUG' 'CAROLINA' 'DAKOTA' 'RICO' 'ISLAND'
 '1,131' 'ISLANDS' 'VIRGINIA' 'TOTAL' 'CODE:1105D' 'CODE:1205' '0'
 'CODE:1724' '778' 'CODE:2010' 'CODE:2012' 'CODE:2125' 'CODE:2165'
 'CODE:2270' 'CODE:2315' 'CODE:7369' 'CODE:7379' 'CODE:7471' 'CODE:9041L'
 '9' 'CODE:9050' '1,651' 'CODE:9064' 'CODE:9120' '5' 'CODE:9143'
 'CODE:9150' 'CODE:9180L' 'CODE:9193' 'CODE:9220L' 'CODE:9230'
 'CODE:9250B' 'CODE:9273D' 'CODE:9300' 'CODE:9411' nan '4' 'CODE:9639'
 'CODE:9652' '32' 'CODE:9655' 'CODE:9737' 'CODE:9739' 'CODE:9740'
 'CODE:9801']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2007' '2000' '03/12/2015' 'DRUG' 'QUARTER' '0' 'COLUMBIA' '-'
 'DISTRIBUTION' '972' '13' '1,300' '4,119' '3,704' '3,534' '245' '134'
 '1,297' nan '42' '33']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' nan 'NAME:' '2ND' '0' 'REPORT' 'BY' '39' '1,528' '1,207' '4' '1,065'
 '44' '5' '2,047' '32' '47' '53']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2007' nan 'AMPHETAMINE' 'QUARTER' '0' '3' 'STATE'
 'D-METHAMPHETAMINE' 'LISDEXAMFETAMINE' 'METHYLPHENIDATE' 'GAMMA'
 'AMOBARBITAL' 'BUTALBITAL' 'PENTOBARBITAL' 'SECOBARBITAL' 'DRONABINOL'
 'NABILONE' 'PHENCYCLIDINE' 'COCAINE' '5' '10' 'CODEINE' '3,086' '1,162'
 'BUPRENORPHINE' '99' '133' 'DIHYDROCODEINE' 'OXYCODONE' '5,741'
 'HYDROMORPHONE' '67' 'ECGONINE' 'HYDROCODONE' 'LEVORPHANOL' 'MEPERIDINE'
 'METHADONE' 'DEXTROPROPOXYPHENE' 'MORPHINE' '125' '2,012' 'NALOXONE' '20'
 'OPIUM' 'OXYMORPHONE' '38' 'PAREGORIC/OPIUM' 'ALFENTANIL' 'REMIFENTANIL'
 'SUFENTANIL' 'FENTANYL']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' 'PER' '144' '88' 'HYDROXYBUTYRIC' '0' '(SCHEDULE' 'IN' '(PCP)'
 '8' '3,996' '4' '61' '35,655' '359' '9,847' '(PETHIDINE)' '686' '111'
 'POWDERED' 'BASE' '161']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '100K' 'ACID' 'ACID(FDA' '2)' 'SESAME' '0']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION' 'APPROVED-CSA' 'OIL' '0']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

In [580]:
# this is part of a drug name
#pop_2007[pop_2007['BY']=='III)']

In [581]:
pop_2008 = pd.read_csv('pop_2008.txt', delim_whitespace=True)
check_pop_data_v3(pop_2008)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'Population' 'Run' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA'
 'AMERICAN' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT'
 'DELAWARE' 'DISTRICT' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO'
 'ILLINOIS' 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE'
 'MARYLAND' 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI'
 'MISSOURI' 'MONTANA' 'NEBRASKA' 'NEVADA' 'NEW' 'NORTH' 'ARCOS'
 'QUARTERLY' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE'
 'SOUTH' 'TENNESSEE' 'TEXAS' 'UTAH' 'VERMONT' 'VIRGIN' 'VIRGINIA'
 'WASHINGTON' 'WEST' 'WISCONSIN' 'WYOMING' 'U.S.']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'Year:' 'Date:' 'CODE:1100' '1ST' 'SAMOA' 'OF' 'HAMPSHIRE'
 'JERSEY' 'MEXICO' 'YORK' 'CAROLINA' 'DAKOTA' '3' 'DRUG' 'RICO' 'ISLAND'
 'ISLANDS' 'VIRGINIA' 'TOTAL' 'CODE:1105D' 'CODE:1205' '97' 'CODE:1615'
 '0' 'CODE:1724' 'CODE:2010' 'CODE:2012' 'CODE:2125' 'CODE:2165'
 'CODE:2270' 'CODE:2285' 'CODE:2315' 'CODE:2765' 'CODE:2885' 'CODE:7370'
 'CODE:7379' 'CODE:7400' 'CODE:7471' 'CODE:9041L' 'CODE:9050' '1,424'
 'CODE:9064' 'CODE:9120' '1' 'CODE:9143' '5,711' 'CODE:9150' 'CODE:9168'
 'CODE:9170' 'CODE:9180L' 'CODE:9190' 'CODE:9193' 'CODE:9220L' 'CODE:9230'
 'CODE:9250B' 'CODE:9273D' 'CODE:9300' '4,254' 'CODE:9639' 'CODE:9652'
 'CODE:9655' 'CODE:9668' 'CODE:9737' 'CODE:9739' 'CODE:9740' 'CODE:9801']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2008' '2000' '03/12/2015' 'DRUG' 'QUARTER' '0' 'COLUMBIA' '-'
 'DISTRIBUTION' '831' '1' '2' '1,591' '42' '1,016' '4,009' '153' '40']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' nan 'NAME:' '2ND' 'REPORT' 'BY' '1,252' '0' '4' '1,121' '1,073'
 '163' '1,889' '847' '1,547' '34' '38' '49']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2008' nan 'AMPHETAMINE' 'QUARTER' '0' '3' 'STATE'
 'D-METHAMPHETAMINE' 'LISDEXAMFETAMINE' 'PHENDIMETRAZINE'
 'METHYLPHENIDATE' 'GAMMA' 'AMOBARBITAL' 'BUTALBITAL' '248'
 'PENTOBARBITAL' 'PHENOBARBITAL' 'SECOBARBITAL' 'DIAZEPAM' 'LORAZEPAM'
 'TETRAHYDROCANNABINOL,SYNTHETIC' 'NABILONE'
 '3,4-METHYLENEDIOXYAMPHETAMINE' 'PHENCYCLIDINE' 'COCAINE' 'CODEINE'
 '1,919' 'BUPRENORPHINE' 'DIHYDROCODEINE' 'OXYCODONE' 'HYDROMORPHONE' '60'
 '101' 'DIFENOXIN(I.E.DIPHENOXYLIC' 'DIPHENOXYLATE' 'ECGONINE'
 'ETHYLMORPHINE' 'HYDROCODONE' 'LEVORPHANOL' 'MEPERIDINE' '372'
 'METHADONE' 'DEXTROPROPOXYPHENE' 'MORPHINE' '2,316' '1,188' 'OPIUM'
 'OXYMORPHONE' '126' 'PAREGORIC/OPIUM' 'NOROXYMORPHONE' 'ALFENTANIL'
 'REMIFENTANIL' 'SUFENTANIL' 'FENTANYL' '48']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' '0' 'PER' 'HYDROXYBUTYRIC' '55' '(SCHEDULE' '(3,4-MDA' '(PCP)'
 '4,751' '7' '238' '13' '2' 'ACID)' '4' '(PETHIDINE)' '2,599' '2,378'
 '7,949' 'POWDERED' 'BASE']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '2,229' '100K' 'ACID' 'ACID(FDA' '2)' '0' '898' 'OR' '531'
 '310' '131' '10']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION' 'APPROVED-CSA' '8' '2,3-MDA' '0']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)' 'ISOMER)']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

In [582]:
pop_2009 = pd.read_csv('pop_2009.txt', delim_whitespace=True)
check_pop_data_v3(pop_2009)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'Population' 'Run' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA'
 'AMERICAN' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT'
 'DELAWARE' 'DISTRICT' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO'
 'ILLINOIS' 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE'
 'MARYLAND' 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI'
 'MISSOURI' 'MONTANA' 'NEBRASKA' 'NEVADA' 'NEW' 'ARCOS' 'QUARTERLY'
 'NORTH' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE'
 'SOUTH' 'TENNESSEE' 'TEXAS' 'UTAH' 'VERMONT' 'VIRGIN' 'VIRGINIA'
 'WASHINGTON' 'WEST' 'WISCONSIN' 'WYOMING' 'U.S.']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'Year:' 'Date:' 'CODE:1100' '1ST' 'SAMOA' '1,017' 'OF'
 'HAMPSHIRE' 'JERSEY' 'MEXICO' 'YORK' '3' 'DRUG' 'CAROLINA' 'DAKOTA'
 'RICO' 'ISLAND' 'ISLANDS' 'VIRGINIA' 'TOTAL' 'CODE:1105D' 'CODE:1205'
 '611' 'CODE:1615' '0' 'CODE:1724' 'CODE:2012' 'CODE:2125' 'CODE:2165'
 'CODE:2270' 'CODE:2315' 'CODE:2765' 'CODE:2783' 'CODE:2885' 'CODE:7379'
 'CODE:7471' 'CODE:9041' 'CODE:9041L' '4' 'CODE:9050' 'CODE:9064'
 'CODE:9120' 'CODE:9143' 'CODE:9150' 'CODE:9180L' 'CODE:9193' '6,493'
 'CODE:9220L' '1' 'CODE:9230' '114' 'CODE:9250B' 'CODE:9273D' 'CODE:9300'
 'CODE:9639' 'CODE:9652' '50' 'CODE:9655' 'CODE:9668' 'CODE:9737'
 'CODE:9739' 'CODE:9740' 'CODE:9780' 'CODE:9801']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2009' '2000' '12/12/2014' 'DRUG' 'QUARTER' 'COLUMBIA' '1,143' '-'
 'DISTRIBUTION' '1' '0' '130' '760' '5' '1,662' '3,147' '117' '91']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' nan 'NAME:' '2ND' '0' '1,043' 'REPORT' 'BY' '1,079' '1' '75' '21'
 '63' '1,902' '3,330' '3' '40']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2009' nan 'AMPHETAMINE' 'QUARTER' '1,119' '1,439' '3' 'STATE'
 'D-METHAMPHETAMINE' 'LISDEXAMFETAMINE' '699' 'PHENDIMETRAZINE' '0'
 'METHYLPHENIDATE' '1,988' 'GAMMA' 'AMOBARBITAL' 'BUTALBITAL' '170'
 'PENTOBARBITAL' 'SECOBARBITAL' 'DIAZEPAM' 'ZOLPIDEM' 'LORAZEPAM'
 'NABILONE' 'PHENCYCLIDINE' 'COCAINE' '2' 'CODEINE' '1,197'
 'BUPRENORPHINE' '49' 'DIHYDROCODEINE' 'OXYCODONE' '4,144' '6,767'
 'HYDROMORPHONE' 'ECGONINE' 'HYDROCODONE' '3,055' 'LEVORPHANOL'
 'MEPERIDINE' 'METHADONE' 'DEXTROPROPOXYPHENE' 'MORPHINE' 'OPIUM'
 'OXYMORPHONE' '109' 'PAREGORIC/OPIUM' 'NOROXYMORPHONE' 'ALFENTANIL'
 'REMIFENTANIL' 'SUFENTANIL' 'TAPENTADOL' 'FENTANYL' '54']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' '0' '3,496' 'PER' '1,254' 'HYDROXYBUTYRIC' '161' '(SCHEDULE'
 '2,395' '1' '(PCP)' '19' '84' '790' '5,410' '27,270' '817' '(PETHIDINE)'
 '819' '8,973' 'POWDERED' '96' 'BASE']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '100K' '4' '0' 'ACID(FDA' '2)' '4,630' '1' '22,736' '1,287']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION' 'APPROVED-CSA' '0']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

In [583]:
pop_2010 = pd.read_csv('pop_2010.txt', delim_whitespace=True)
check_pop_data_v3(pop_2010)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'Population' 'Run' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA'
 'AMERICAN' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT'
 'DELAWARE' 'DISTRICT' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO'
 'ILLINOIS' 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE'
 'MARYLAND' 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI'
 'MISSOURI' 'MONTANA' 'NEBRASKA' 'NEVADA' 'NEW' 'NORTH' 'OHIO' 'OKLAHOMA'
 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS'
 'ARCOS' 'QUARTERLY' 'UTAH' 'VERMONT' 'VIRGIN' 'VIRGINIA' 'WASHINGTON'
 'WEST' 'WISCONSIN' 'WYOMING' 'U.S.']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'Year:' 'Date:' 'CODE:1100' '1ST' 'SAMOA' 'OF' 'HAMPSHIRE'
 'JERSEY' 'MEXICO' 'YORK' 'CAROLINA' 'DAKOTA' 'RICO' 'ISLAND' '3' 'DRUG'
 'ISLANDS' 'VIRGINIA' 'TOTAL' 'CODE:1105B' '0' 'CODE:1105D' 'CODE:1205'
 'CODE:1615' 'CODE:1724' '2,785' 'CODE:2012' 'CODE:2125' 'CODE:2165'
 'CODE:2270' 'CODE:2315' '2' 'CODE:2783' 'CODE:2885' 'CODE:7379'
 'CODE:7444' 'CODE:7471' 'CODE:9041' 'CODE:9041L' '6' 'CODE:9050'
 'CODE:9064' 'CODE:9120' 'CODE:9143' '7,602' '7,579' 'CODE:9150'
 'CODE:9180L' 'CODE:9190' 'CODE:9193' '1,058' 'CODE:9220L' 'CODE:9230'
 'CODE:9250B' '612' 'CODE:9273D' 'CODE:9300' 'CODE:9639' 'CODE:9652' '40'
 'CODE:9655' 'CODE:9670' 'CODE:9737' 'CODE:9739' 'CODE:9740' 'CODE:9743'
 'CODE:9780' 'CODE:9801']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2010' '2010' '12/16/2014' 'DRUG' 'QUARTER' 'COLUMBIA' '1,028'
 '793' '-' 'DISTRIBUTION' '0' '1' '145' '1,507' '4' '2' '133' '56' '1,119'
 '124' '148' '4,620' '9,328' '172' '2,002']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' nan 'NAME:' '2ND' '0' 'REPORT' 'BY' '497' '1,134' '1' '2' '4' '115'
 '100' '343' '1,761' '1,024' '258' '250']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2010' nan 'AMPHETAMINE' 'QUARTER' '348' '3' 'STATE'
 'DL-METHAMPHETAMINE' '0' 'D-METHAMPHETAMINE' 'LISDEXAMFETAMINE'
 'PHENDIMETRAZINE' 'METHYLPHENIDATE' 'GAMMA' 'AMOBARBITAL' 'BUTALBITAL'
 '201' 'PENTOBARBITAL' '1,161' 'SECOBARBITAL' 'ZOLPIDEM' 'LORAZEPAM'
 'NABILONE' '4-HYDROXY-3-METHOXY-' 'PHENCYCLIDINE' 'COCAINE' 'CODEINE'
 'BUPRENORPHINE' '62' '543' 'DIHYDROCODEINE' '8' 'OXYCODONE'
 'HYDROMORPHONE' 'ECGONINE' 'ETHYLMORPHINE' 'HYDROCODONE' '2,629'
 'LEVORPHANOL' 'MEPERIDINE' 'METHADONE' 'DEXTROPROPOXYPHENE' 'MORPHINE'
 'OPIUM' 'OXYMORPHONE' 'PAREGORIC/OPIUM' 'CONCENTRATE' 'ALFENTANIL'
 'REMIFENTANIL' 'SUFENTANIL' 'CARFENTANIL' 'TAPENTADOL' 'FENTANYL' '50']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' '0' 'PER' 'RACEMIC' '3' '3,227' 'HYDROXYBUTYRIC' '(SCHEDULE'
 'METHAMPHETAMINE(HMMA)' '(PCP)' '763' '5,314' '(PETHIDINE)' 'POWDERED'
 '263' '77' 'OF' 'BASE']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '100K' 'BASE' '0' 'ACID(FDA' '2)' 'POPPY' '86']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION' 'APPROVED-CSA' 'STRAW' '0']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

In [584]:
pop_2011 = pd.read_csv('pop_2011.txt', delim_whitespace=True)
check_pop_data_v4(pop_2011)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'Population' 'Run' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA'
 'AMERICAN' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT'
 'DELAWARE' 'DISTRICT' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO'
 'ILLINOIS' 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE'
 'MARYLAND' 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI'
 'MISSOURI' 'MONTANA' 'NEBRASKA' 'NEVADA' 'NEW' 'NORTH' 'OHIO' 'OKLAHOMA'
 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS'
 'UTAH' 'ARCOS' 'QUARTERLY' 'VERMONT' 'VIRGIN' 'VIRGINIA' 'WASHINGTON'
 'WEST' 'WISCONSIN' 'WYOMING' 'U.S.' '1,459,041.39']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'Year:' 'Date:' 'CODE:1100' '1ST' 'SAMOA' 'OF' '1,506,492'
 'HAMPSHIRE' 'JERSEY' 'MEXICO' 'YORK' 'CAROLINA' 'DAKOTA' 'RICO' 'ISLAND'
 '3' 'DRUG' 'ISLANDS' 'VIRGINIA' 'TOTAL' 'CODE:1105B' 'CODE:1105D' '0'
 'CODE:1205' 'CODE:1615' '100' 'CODE:1724' 'CODE:2012' 'CODE:2125'
 'CODE:2165' 'CODE:2270' 'CODE:2315' 'CODE:2783' 'CODE:2885' 'CODE:7379'
 'CODE:7471' 'CODE:9041' 'CODE:9041L' '4,718' 'CODE:9046' 'CODE:9050'
 'CODE:9064' 'CODE:9120' '12,590' 'CODE:9143' '15,261,111' '4,660,585'
 'CODE:9150' 'CODE:9193' 'CODE:9220L' '21' 'CODE:9230' 'CODE:9250B'
 '767,244' 'CODE:9300' 'CODE:9600' 'CODE:9630' 'CODE:9639' 'CODE:9652'
 '304,757' nan 'CODE:9668' 'CODE:9737' 'CODE:9739' 'CODE:9740' 'CODE:9743'
 'CODE:9780' '340,759' 'CODE:9801']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2011' '2010' '12/04/2014' 'DRUG' 'QUARTER' '0' 'COLUMBIA' '-'
 'DISTRIBUTION' '2,110,559' '121,456' '1,029,579' '1,637,924' '1,426,228'
 '7,156,655' '2,506,556' '144,439' '784,039' '4,857' nan '73,798' '12'
 '86' '1']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' nan 'NAME:' '2ND' '1,963,812' 'REPORT' 'BY' '0' '337,777'
 '2,447,077' '67' '720,242' '1,155' '1,385,438' '261,825' '4,085,874'
 '1,505,475' '52' '536,260']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2011' nan 'AMPHETAMINE' 'QUARTER' '2,053,039' '3' 'STATE'
 'DL-METHAMPHETAMINE' '0' '309' 'D-METHAMPHETAMINE' 'LISDEXAMFETAMINE'
 'PHENDIMETRAZINE' '200' 'METHYLPHENIDATE' 'GAMMA' 'AMOBARBITAL' '134'
 'BUTALBITAL' 'PENTOBARBITAL' 'SECOBARBITAL' 'ZOLPIDEM' 'LORAZEPAM'
 'NABILONE' '57' 'PHENCYCLIDINE' 'COCAINE' 'NORCOCAINE' 'CODEINE'
 'BUPRENORPHINE' 'DIHYDROCODEINE' '10,923' 'OXYCODONE' '15,571,057'
 'HYDROMORPHONE' '137,791' 'HYDROCODONE' 'LEVORPHANOL' 'MEPERIDINE'
 'METHADONE' '2,645,803' '1,894,113' 'MORPHINE' 'OPIUM' '3,215' '2,071'
 'OXYMORPHONE' 'NOROXYMORPHONE' 'ALFENTANIL' 'REMIFENTANIL' 'SUFENTANIL'
 'CARFENTANIL' 'TAPENTADOL' 'FENTANYL']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' '/' 'RACEMIC' '0' '5,310,205' 'HYDROXYBUTYRIC' '(SCHEDULE'
 '469' '4,965,814' '19' '(PCP)' '20,392' '13,704,937' '215' '(PETHIDINE)'
 '778,186' '533,988' '1,679,665' 'TINCTURE' 'POWDERED' 'BASE']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '100K' 'BASE' '0' '1,672' 'ACID(FDA' '2)' '10,120'
 '9,048,780' '378,616' '38']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION' 'APPROVED-CSA' '0']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)']

Checking column STATE for unusual values.
[nan 'MILIGRAM']

Checking column / for unusual values.
[nan 'WT']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column MILIGRAM for unusual values.
Column MILIGRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

Firstly, note that this year the data is reported in milligrams ('MILIGRAMS')! It is only this one year, so I will fix this manually at the end.

Looks like we might be dealing with a wrapped value with the value '1,459,041.39' showing up in the State column.

In [585]:
#pop_2011[pop_2011['State']=='1,459,041.39']
pop_2011.iloc[1518:1522]

,State,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,STATE,/,100K,POPULATION,BY.1,MILIGRAM,WT
1518,NEW,MEXICO,"104,951.92","102,720.78","112,510.50","116,879.64","437,062.84",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1519,NEW,YORK,"206,942.49","233,855.98","267,066.16","295,988.41","1,003,853.05",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1520,NORTH,CAROLINA,"297,253.62","340,783.46","390,634.12","430,370.18",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521,"1,459,041.39",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It is a wrapped value, and note that since it's a two-word state and we haven't fixed the shifted values yet, we need to move that value into the column currently called "DRUG."

In [586]:
ix = pop_2011[pop_2011['State']=='1,459,041.39'].index.values[0]
pop_2011.loc[ix-1, 'DRUG'] = pop_2011.loc[ix, 'State']
pop_2011.iloc[ix-1:ix+1]

,State,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,STATE,/,100K,POPULATION,BY.1,MILIGRAM,WT
1520,NORTH,CAROLINA,"297,253.62","340,783.46","390,634.12","430,370.18","1,459,041.39",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521,"1,459,041.39",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [587]:
pop_2012 = pd.read_csv('pop_2012.txt', delim_whitespace=True)
check_pop_data_v3(pop_2012)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'Population' 'Run' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA'
 'AMERICAN' 'ARIZONA' 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT'
 'DELAWARE' 'DISTRICT' 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO'
 'ILLINOIS' 'INDIANA' 'IOWA' 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE'
 'MARYLAND' 'MASSACHUSETTS' 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI'
 'MISSOURI' 'MONTANA' 'NEBRASKA' 'NEVADA' 'NEW' 'ARCOS' 'QUARTERLY'
 'NORTH' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE'
 'SOUTH' 'TENNESSEE' 'TEXAS' 'UTAH' 'VERMONT' 'VIRGIN' 'VIRGINIA'
 'WASHINGTON' 'WEST' 'WISCONSIN' 'WYOMING' 'U.S.' 'METHYLCATHINONE)']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'Year:' 'Date:' 'CODE:1100' '1ST' 'SAMOA' '566' 'OF'
 'HAMPSHIRE' 'JERSEY' 'MEXICO' 'YORK' '3' 'DRUG' 'CAROLINA' 'DAKOTA'
 'RICO' 'ISLAND' 'ISLANDS' 'VIRGINIA' 'TOTAL' 'CODE:1105B' '0'
 'CODE:1105D' 'CODE:1205' 'CODE:1248' 'CODE:1615' 'CODE:1724' '2,741'
 'CODE:2012' 'CODE:2125' 'CODE:2165' 'CODE:2270' '782' 'CODE:2315'
 'CODE:7370' 'CODE:7379' 'CODE:7431' 'CODE:7438' 'CODE:7439' 'CODE:7471'
 'CODE:7540' nan 'CODE:9041' 'CODE:9041L' 'CODE:9050' 'CODE:9056'
 'CODE:9064' 'CODE:9120' 'CODE:9143' '6,120' 'CODE:9150' '91' '127'
 'CODE:9193' 'CODE:9200' 'CODE:9220L' 'CODE:9230' 'CODE:9250B' 'CODE:9300'
 'CODE:9630' 'CODE:9639' 'CODE:9652' 'CODE:9668' 'CODE:9670' 'CODE:9737'
 'CODE:9739' 'CODE:9740' 'CODE:9743' 'CODE:9780' 'CODE:9801']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2012' '2010' '12/03/2014' 'DRUG' 'QUARTER' 'COLUMBIA' '-'
 'DISTRIBUTION' '1,318' '0' '1' '853' '418' '6' nan '2' '4' '289' '7,651'
 '6,139' '505' '3,045']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' nan 'NAME:' '2ND' 'REPORT' 'BY' '0' '580' '2,953' '719' '692' '5'
 '4' '157' '196' '350' '172' '969' '185' '294']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2012' nan 'AMPHETAMINE' 'QUARTER' '3' 'STATE' 'DL-METHAMPHETAMINE'
 'D-METHAMPHETAMINE' '0' 'LISDEXAMFETAMINE' 'MEPHEDRONE;'
 'PHENDIMETRAZINE' 'METHYLPHENIDATE' '551' 'GAMMA' 'AMOBARBITAL'
 'BUTALBITAL' 'PENTOBARBITAL' '711' 'SECOBARBITAL'
 'TETRAHYDROCANNABINOL,SYNTHETIC' 'NABILONE' '5-METHOXY-N,N' 'PSILOCIN'
 '5-METHOXY-N,N-' 'PHENCYCLIDINE' 'METHYLONE' 'COCAINE' '4' 'CODEINE'
 'ETORPHINE' 'BUPRENORPHINE' 'DIHYDROCODEINE' 'OXYCODONE' 'HYDROMORPHONE'
 '158' 'HYDROCODONE' 'HEROIN' 'LEVORPHANOL' 'MEPERIDINE' 'METHADONE' '893'
 '1,235' '1,841' 'MORPHINE' '3,545' 'OPIUM' 'OXYMORPHONE' 'NOROXYMORPHONE'
 'CONCENTRATE' 'ALFENTANIL' 'REMIFENTANIL' 'SUFENTANIL' 'CARFENTANIL'
 'TAPENTADOL' '400' '107' 'FENTANYL' '30' '33']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' '0' 'PER' 'RACEMIC' '1' '4-' 'HYDROXYBUTYRIC' '(SCHEDULE' '771'
 'DIMETHYLTRYPTAMINE' 'DIISOPROPYLTRYPTAMINE(5-MEO-DIPT)' '(PCP)'
 '(3,4-METHYLENEDIOXY-N-' '3,608' '367' '31' '89' '(PETHIDINE)' '9,392'
 'TINCTURE' 'POWDERED' 'OF' 'BASE' '583']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '1,287' '100K' 'BASE' '0' '2,047'
 'METHOXYMETHCATHINONE;METHEDRONE' 'ACID(FDA' '2)' '2,068' '7,590' '384'
 '21' '3' 'POPPY' '186']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION' 'APPROVED-CSA' '0' 'STRAW']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

Looks like part of a drug name might be getting wrapped here - 

* METHYLCATHINONE) in column State

In [588]:
#pop_2012[pop_2012['State']=='METHYLCATHINONE)']
pop_2012.iloc[650:653]

,State,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,STATE,PER,100K,POPULATION,BY.1,GRAM,WT
650,U.S.,TOTAL,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,DRUG,CODE:7540,DRUG,NAME:,METHYLONE,"(3,4-METHYLENEDIOXY-N-",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652,METHYLCATHINONE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It is a drug name getting wrapped, but the code is properly formatted, so we don't need to do anything here. Row 652 will get dropped anyway later in the cleaning routine.

In [589]:
pop_2013 = pd.read_csv('pop_2013.txt', delim_whitespace=True)
check_pop_data_v3(pop_2013)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'Run' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA' 'AMERICAN' 'ARIZONA'
 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT' 'DELAWARE' 'DISTRICT'
 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO' 'ILLINOIS' 'INDIANA' 'IOWA'
 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE' 'MARYLAND' 'MASSACHUSETTS'
 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI' 'MISSOURI' 'MONTANA' 'NEBRASKA'
 'NEVADA' 'NEW' 'ARCOS' 'Population' 'QUARTERLY' 'NORTH' 'OHIO' 'OKLAHOMA'
 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS'
 'UTAH' 'VERMONT' 'VIRGIN' 'VIRGINIA' 'WASHINGTON' 'WEST' 'WISCONSIN'
 'WYOMING' 'U.S.']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'Date:' 'CODE:1100' '1ST' 'SAMOA' 'OF' 'HAMPSHIRE' 'JERSEY' '3'
 'Year:' 'DRUG' 'MEXICO' 'YORK' 'CAROLINA' 'DAKOTA' 'RICO' 'ISLAND'
 'ISLANDS' 'VIRGINIA' 'TOTAL' 'CODE:1105B' 'CODE:1105D' 'CODE:1205'
 'CODE:1615' 'CODE:1724' 'CODE:2012' '0' 'CODE:2125' 'CODE:2165' '148'
 'CODE:2270' '706' 'CODE:2315' 'CODE:4187' 'CODE:7379' 'CODE:7471'
 'CODE:9003' 'CODE:9041' 'CODE:9041L' 'CODE:9050' 'CODE:9056' 'CODE:9064'
 'CODE:9120' 'CODE:9143' 'CODE:9150' '123' 'CODE:9193' 'CODE:9220L'
 'CODE:9230' 'CODE:9250B' 'CODE:9300' 'CODE:9639' 'CODE:9652' '127'
 'CODE:9668' 'CODE:9670' 'CODE:9737' 'CODE:9739' 'CODE:9740' 'CODE:9743'
 'CODE:9780' 'CODE:9801' '27']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2013' '05/05/2016' 'DRUG' 'QUARTER' 'COLUMBIA' '-' '2010'
 'DISTRIBUTION' '0' '1,690' '123' '161' '12' '653' '95' '294' '2,127'
 '1,903' '79']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' nan 'NAME:' '2ND' 'REPORT' 'BY' '1' '0' '571' '1,177' '304' '181'
 '7' '5' '37']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2013' nan 'AMPHETAMINE' 'QUARTER' '3' 'STATE' 'DL-METHAMPHETAMINE'
 '0' 'D-METHAMPHETAMINE' 'LISDEXAMFETAMINE' 'PHENDIMETRAZINE'
 'METHYLPHENIDATE' 'GAMMA' 'AMOBARBITAL' 'BUTALBITAL' 'PENTOBARBITAL'
 '781' 'SECOBARBITAL' '1' 'TESTOSTERONE' 'NABILONE' 'PHENCYCLIDINE'
 'COCAINE' '2' 'CODEINE' 'ETORPHINE' 'BUPRENORPHINE' 'DIHYDROCODEINE'
 'OXYCODONE' 'HYDROMORPHONE' 'HYDROCODONE' 'LEVORPHANOL' 'MEPERIDINE'
 'METHADONE' 'MORPHINE' '1,491' 'OPIUM' 'OXYMORPHONE' '99' '613' '68'
 'NOROXYMORPHONE' 'CONCENTRATE' 'ALFENTANIL' 'REMIFENTANIL' 'SUFENTANIL'
 'CARFENTANIL' 'TAPENTADOL' 'FENTANYL']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' '4,122' 'PER' 'RACEMIC' '1' '5' '0' '(DL;D;L;ISOMERS)'
 'HYDROXYBUTYRIC' '(SCHEDULE' '1,734' '(PCP)' '7,003' '(PETHIDINE)'
 '1,274' '2,370' 'POWDERED' 'OF' 'BASE' '2,644' '27' '52']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '100K' 'BASE' 'ACID(FDA' '2)' '0' '7,346' '19' 'POPPY']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION' 'APPROVED-CSA' '0' 'STRAW']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

In [590]:
pop_2014 = pd.read_csv('pop_2014.txt', delim_whitespace=True)
check_pop_data_v3(pop_2014)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA' 'AMERICAN' 'ARIZONA'
 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT' 'DELAWARE' 'DISTRICT'
 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO' 'ILLINOIS' 'INDIANA' 'IOWA'
 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE' 'MARYLAND' 'MASSACHUSETTS'
 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI' 'MISSOURI' 'MONTANA' 'NEBRASKA'
 'NEVADA' 'NEW' 'NORTH' 'OHIO' 'OKLAHOMA' 'OREGON' 'ARCOS' 'Population'
 'QUARTERLY' 'PENNSYLVANIA' 'PUERTO' 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS'
 'UTAH' 'VERMONT' 'VIRGIN' 'VIRGINIA' 'WASHINGTON' 'WEST' 'WISCONSIN'
 'WYOMING' 'U.S.']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'CODE:1100' '1ST' 'SAMOA' '655' 'OF' 'HAMPSHIRE' 'JERSEY'
 'MEXICO' 'YORK' 'CAROLINA' 'DAKOTA' '3' 'Year:' 'DRUG' 'RICO' 'ISLAND'
 'ISLANDS' 'VIRGINIA' 'TOTAL' 'CODE:1105B' '1' '0' 'CODE:1105D'
 'CODE:1205' 'CODE:1724' '2,222' 'CODE:2012' 'CODE:2125' 'CODE:2165'
 'CODE:2270' '341' 'CODE:2315' 'CODE:7379' 'CODE:9041' 'CODE:9041L'
 'CODE:9050' 'CODE:9064' 'CODE:9120' 'CODE:9143' 'CODE:9150' 'CODE:9170'
 'CODE:9193' 'CODE:9220L' 'CODE:9230' '74' 'CODE:9250B' 'CODE:9300'
 '2,996' '2,673' 'CODE:9639' 'CODE:9652' 'CODE:9668' 'CODE:9737'
 'CODE:9739' 'CODE:9740' 'CODE:9743' 'CODE:9780' '303' 'CODE:9801' '42']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2014' 'DRUG' 'QUARTER' 'COLUMBIA' '-' '2010' 'DISTRIBUTION' '0'
 '871' '3,043' '556' '3' '922' '4,112' '183' '758' '151' '492' '318' '463']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' 'NAME:' '2ND' '0' '1,146' 'REPORT' nan 'BY' '1,093' '529' '3,104'
 '84' '610' '1' '959' '129' '1,190' '52' '73' '101' '159' '433' '46']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2014' 'AMPHETAMINE' 'QUARTER' '3' nan 'STATE' 'DL-METHAMPHETAMINE'
 'D-METHAMPHETAMINE' '0' 'LISDEXAMFETAMINE' 'METHYLPHENIDATE' '1,882'
 'GAMMA' '3,585' 'AMOBARBITAL' 'BUTALBITAL' 'PENTOBARBITAL' 'SECOBARBITAL'
 'NABILONE' 'COCAINE' '2' 'CODEINE' '1,261' 'BUPRENORPHINE' '346' '359'
 'DIHYDROCODEINE' 'OXYCODONE' '1,347' '2,986' 'HYDROMORPHONE' '97'
 'DIPHENOXYLATE' 'HYDROCODONE' 'LEVORPHANOL' 'MEPERIDINE' 'METHADONE'
 'MORPHINE' 'OPIUM' 'OXYMORPHONE' '69' 'NOROXYMORPHONE' 'ALFENTANIL'
 'REMIFENTANIL' 'SUFENTANIL' 'CARFENTANIL' 'TAPENTADOL' '254' '962'
 'FENTANYL']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
['Run' nan '3RD' 'PER' 'RACEMIC' '0' '(DL;D;L;ISOMERS)' 'HYDROXYBUTYRIC'
 '(SCHEDULE' '938' '2' '626' '(PETHIDINE)' '3,439' 'POWDERED' '543' 'BASE'
 '138']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
['Date:' nan 'QUARTER' '100K' 'BASE' '0' 'ACID(FDA' '2)' '5,714' '239']

Checking column DISTRIBUTION for unusual values.
['03/08/2016' nan '4TH' 'POPULATION' 'APPROVED-CSA' '0']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

In [591]:
pop_2015 = pd.read_csv('pop_2015.txt', delim_whitespace=True)
check_pop_data_v3(pop_2015)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'Run' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA' 'AMERICAN' 'ARIZONA'
 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT' 'DELAWARE' 'DISTRICT'
 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO' 'ILLINOIS' 'INDIANA' 'IOWA'
 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE' 'MARYLAND' 'MASSACHUSETTS'
 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI' 'MISSOURI' 'MONTANA' 'NEBRASKA'
 'NEVADA' 'NEW' 'ARCOS' 'Population' 'QUARTERLY' 'NORTH' 'OHIO' 'OKLAHOMA'
 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS'
 'UTAH' 'VERMONT' 'VIRGIN' 'VIRGINIA' 'WASHINGTON' 'WEST' 'WISCONSIN'
 'WYOMING' 'U.S.']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'Date:' 'CODE:1100' '1ST' 'SAMOA' 'OF' '1,336' 'HAMPSHIRE'
 'JERSEY' '3' 'Year:' 'DRUG' 'MEXICO' 'YORK' 'CAROLINA' 'DAKOTA' 'RICO'
 'ISLAND' 'ISLANDS' 'VIRGINIA' 'TOTAL' 'CODE:1105B' 'CODE:1105D' '0'
 'CODE:1205' '257' 'CODE:1724' '1,410' 'CODE:2012' '13' 'CODE:2125'
 'CODE:2165' 'CODE:2270' 'CODE:2315' 'CODE:7315D' 'CODE:7360' 'CODE:7370'
 'CODE:7377' 'CODE:7379' 'CODE:7381' 'CODE:7433' 'CODE:7437' 'CODE:7455'
 'CODE:7471' 'CODE:9010' 'CODE:9020' 'CODE:9041' 'CODE:9041L' 'CODE:9050'
 '803' 'CODE:9064' '402' 'CODE:9120' 'CODE:9143' 'CODE:9150' '83'
 'CODE:9193' 'CODE:9200' 'CODE:9220L' 'CODE:9230' 'CODE:9250B' 'CODE:9300'
 'CODE:9313' 'CODE:9336' 'CODE:9600' 'CODE:9639' 'CODE:9652' 'CODE:9668'
 'CODE:9737' 'CODE:9739' 'CODE:9740' 'CODE:9780' 'CODE:9801' '37' '9']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2015' '03/07/2016' 'DRUG' 'QUARTER' 'COLUMBIA' '-' '2010'
 'DISTRIBUTION' '0' '1,052' '1,236' '84' '1,184' '179' '218' '1' '203'
 '41' '37']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' nan 'NAME:' '2ND' 'REPORT' 'BY' '0' '667' '2,064' '195' '185' '500'
 '704' '62' '92' '1,527' '41' '584' '49' '31']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2015' nan 'AMPHETAMINE' 'QUARTER' '0' '3' 'STATE' '1,114'
 'DL-METHAMPHETAMINE' 'D-METHAMPHETAMINE' 'LISDEXAMFETAMINE' '673' '1,070'
 'METHYLPHENIDATE' 'GAMMA' 'AMOBARBITAL' 'BUTALBITAL' 'PENTOBARBITAL'
 'SECOBARBITAL' '1' 'LYSERGIDE(D-LSD)' 'MARIJUANA'
 'TETRAHYDROCANNABINOL,SYNTHETIC' 'CANNABICYCLOL' 'NABILONE' 'MESCALINE'
 'BUFOTENINE' 'PSILOCYBIN' 'ETICYCLIDINE' 'PHENCYCLIDINE' 'ALPHAPRODINE'
 'ANILERIDINE' 'COCAINE' '4' '2' 'CODEINE' 'BUPRENORPHINE' '87'
 'DIHYDROCODEINE' 'OXYCODONE' '5,732' 'HYDROMORPHONE' '134' 'HYDROCODONE'
 '2,979' 'HEROIN' 'LEVORPHANOL' 'MEPERIDINE' 'METHADONE' '1,176' '278'
 'MORPHINE' 'NORMORPHINE' 'MORPHINE-3-ETHEREAL' 'OPIUM' '5' 'OXYMORPHONE'
 'NOROXYMORPHONE' 'ALFENTANIL' 'REMIFENTANIL' 'SUFENTANIL' 'TAPENTADOL'
 'FENTANYL' '58']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' 'PER' '217' 'RACEMIC' '1' '0' '2,819' '4,784'
 '(DL;D;L;ISOMERS)' 'HYDROXYBUTYRIC' '(SCHEDULE'
 'PLANT(CANNABIS,CANNABIGEROL,CANNABIDIO' '(PCE)' '(PCP)' '466' '502'
 '270' '(PETHIDINE)' '42' 'SULFATE' 'POWDERED' '82' 'BASE' '24' '36']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '100K' '5,145' 'BASE' '0' 'ACID(FDA' '2)' 'L)' '2,140']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION' 'APPROVED-CSA' '0']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

In [592]:
pop_2016 = pd.read_csv('pop_2016.txt', delim_whitespace=True)
check_pop_data_v3(pop_2016)

Checking State column - we expect mostly state names here, as well as DRUG.
['REPORTING' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA' 'AMERICAN' 'ARIZONA'
 'ARKANSAS' 'CALIFORNIA' 'COLORADO' 'CONNECTICUT' 'DELAWARE' 'DISTRICT'
 'FLORIDA' 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO' 'ILLINOIS' 'INDIANA' 'IOWA'
 'KANSAS' 'KENTUCKY' 'LOUISIANA' 'MAINE' 'MARYLAND' 'MASSACHUSETTS'
 'MICHIGAN' 'MINNESOTA' 'MISSISSIPPI' 'MISSOURI' 'MONTANA' 'NEBRASKA'
 'NEVADA' 'NEW' 'NORTH' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO'
 'RHODE' 'SOUTH' 'TENNESSEE' 'TEXAS' 'UTAH' 'VERMONT' 'Population' 'Run'
 'ARCOS' 'QUARTERLY' 'VIRGIN' 'VIRGINIA' 'WASHINGTON' 'WEST' 'WISCONSIN'
 'WYOMING' 'U.S.' '1308.13(C)(3)]']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['PERIOD:' 'CODE:1100' '1ST' 'SAMOA' 'OF' 'HAMPSHIRE' 'JERSEY' 'MEXICO'
 'YORK' 'CAROLINA' 'DAKOTA' 'RICO' 'ISLAND' 'Year:' 'Date:' '3' 'DRUG'
 'ISLANDS' 'VIRGINIA' 'TOTAL' 'CODE:1105B' '0' 'CODE:1105D' 'CODE:1205'
 'CODE:1724' 'CODE:2012' 'CODE:2100' nan 'CODE:2125' 'CODE:2165'
 'CODE:2270' '568' 'CODE:2315' 'CODE:7379' 'CODE:7471' 'CODE:9041L'
 'CODE:9050' '1,211' 'CODE:9064' 'CODE:9120' 'CODE:9143' 'CODE:9150'
 'CODE:9193' '121' 'CODE:9220L' 'CODE:9230' '67' 'CODE:9250B' '813'
 'CODE:9300' 'CODE:9630' 'CODE:9639' 'CODE:9652' 'CODE:9668' 'CODE:9737'
 'CODE:9739' 'CODE:9740' 'CODE:9780' 'CODE:9801']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['01/01/2016' 'DRUG' 'QUARTER' 'COLUMBIA' '2010' '02/03/2017' '-'
 'DISTRIBUTION' '0' nan '117' '2' '110' '13' '5,164' '1,593' '1,917'
 '1,764' '113' '33']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
['TO' 'NAME:' '2ND' '0' nan 'REPORT' 'BY' '1' '818' '1,247' '7' '812'
 '4,476' '2' '109' '907' '86' '43']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
['12/31/2016' 'AMPHETAMINE' 'QUARTER' '1,519' nan '3' 'STATE'
 'DL-METHAMPHETAMINE' '0' 'D-METHAMPHETAMINE' 'LISDEXAMFETAMINE'
 'METHYLPHENIDATE' '1,182' '2,659' 'GAMMA' 'BARBITURIC' 'AMOBARBITAL'
 'BUTALBITAL' '132' 'PENTOBARBITAL' 'SECOBARBITAL' 'NABILONE'
 'PHENCYCLIDINE' 'COCAINE' '2' 'CODEINE' 'BUPRENORPHINE' '138' '194'
 'DIHYDROCODEINE' 'OXYCODONE' 'HYDROMORPHONE' 'HYDROCODONE' '2,738'
 'LEVORPHANOL' 'MEPERIDINE' '58' 'METHADONE' '1,186' 'MORPHINE' 'OPIUM'
 'OXYMORPHONE' '90' '72' 'NOROXYMORPHONE' 'ALFENTANIL' 'REMIFENTANIL'
 'SUFENTANIL' 'TAPENTADOL' '980' '615' 'FENTANYL' '25']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' 'PER' 'RACEMIC' '0' '(DL;D;L;ISOMERS)' 'HYDROXYBUTYRIC' 'ACID'
 '(SCHEDULE' '933' '27' '(PCP)' '530' '18,762' '490' '(PETHIDINE)' '280'
 '23' '355' '1,031' '5,553' 'TINCTURE' 'POWDERED' 'BASE']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '100K' 'BASE' '1,334' 'ACID(FDA' 'DERIVIATIVE' '2)' '0'
 '26,544' '(LAUDANUM)']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION' 'APPROVED-CSA' 'OR']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)' 'SALT']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM' '[PER']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT' '21CFR']

Checking column 100K for unusual values.
Column 100K is empty.

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

A possible wrapped drug name to check out:

* 1308.13(C)(3)] in column State

In [593]:
# they are both part of a drug name that will be properly captured, so nothing else is needed
#pop_2016[pop_2016['State']=='1308.13(C)(3)]']
#pop_2016.iloc[338:341]
#pop_2016.iloc[388:391]

In [594]:
pop_2017 = pd.read_csv('pop_2017.txt', delim_whitespace=True)
check_pop_data_v3(pop_2017)

Checking State column - we expect mostly state names here, as well as DRUG.
['Run' 'DRUG' 'STATE' 'ALABAMA' 'ALASKA' 'AMERICAN' 'ARIZONA' 'ARKANSAS'
 'CALIFORNIA' 'COLORADO' 'CONNECTICUT' 'DELAWARE' 'DISTRICT' 'FLORIDA'
 'GEORGIA' 'GUAM' 'HAWAII' 'IDAHO' 'ILLINOIS' 'INDIANA' 'IOWA' 'KANSAS'
 'KENTUCKY' 'LOUISIANA' 'MAINE' 'MARYLAND' 'MASSACHUSETTS' 'MICHIGAN'
 'MINNESOTA' 'MISSISSIPPI' 'MISSOURI' 'MONTANA' 'NEBRASKA' 'NEVADA' 'NEW'
 'NORTH' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO' 'RHODE'
 'SOUTH' 'TENNESSEE' 'TEXAS' 'UTAH' 'VERMONT' 'VIRGIN' 'VIRGINIA'
 'WASHINGTON' 'WEST' 'DATE' 'Population' 'ARCOS' 'QUARTERLY' 'WISCONSIN'
 'WYOMING' 'U.S.']


For columns Q1, Q2, Q3, Q4, and TOTAL we expect mostly numeric values with decimal accuracy.
Checking column Q1 for unusual values.
We expect to see CODE: concatenated with drug codes.
['Date:' 'CODE:1100' '1ST' 'SAMOA' 'OF' 'HAMPSHIRE' 'JERSEY' 'MEXICO'
 'YORK' 'CAROLINA' 'DAKOTA' 'RICO' 'ISLAND' '2,866' 'ISLANDS' 'VIRGINIA'
 'RANGE:' 'Year:' '3' 'DRUG' 'TOTAL' 'CODE:1105B' 'CODE:1105D' '0'
 'CODE:1205' '1,373' 'CODE:1724' 'CODE:2012' 'CODE:2100' 'CODE:2125'
 'CODE:2165' '113' '84' 'CODE:2270' 'CODE:2315' 'CODE:7365' 'PRODUCT'
 'CODE:7379' 'CODE:9041L' 'CODE:9050' 'CODE:9056' 'CODE:9064' 'CODE:9120'
 '8' 'CODE:9143' 'CODE:9150' 'CODE:9193' 'CODE:9220L' 'CODE:9230'
 'CODE:9250B' 'CODE:9300' '2,195' 'CODE:9333' 'CODE:9630' 'CODE:9639' '2'
 'CODE:9652' '181' 'CODE:9668' 'CODE:9737' 'CODE:9739' 'CODE:9740'
 'CODE:9780' '582' 'CODE:9801' '33' 'CODE:9809']


Checking column Q2 for unusual values.
We should see DRUG here, but not CODE or NAME.
['07/03/2018' 'DRUG' 'QUARTER' 'COLUMBIA' '01/01/2017' '2010' '-'
 'DISTRIBUTION' '0' '221' '(SYNDROS' '2' '804' '721' '53' '43' '39']


Checking column Q3 for unusual values.
We expect to see NAME: here, but no drug codes.
[nan 'NAME:' '2ND' '788' '1,832' 'TO' 'REPORT' 'BY' '0' '1,966' '2,211'
 '57' '67' '880' '-' '1' '69' '1,257' '29' '1,189' '1,037' '65' '487']


Checking column Q4 for unusual values.
We expect to see full/partial drug names.
[nan 'AMPHETAMINE' 'QUARTER' '0' '704' '1,733' '2,111' '12/31/2017' '3'
 'STATE' 'DL-METHAMPHETAMINE' 'D-METHAMPHETAMINE' 'LISDEXAMFETAMINE'
 '1,018' 'METHYLPHENIDATE' '1,871' 'GAMMA' 'BARBITURIC' '39' 'AMOBARBITAL'
 'BUTALBITAL' '88' 'PENTOBARBITAL' '298' 'SECOBARBITAL' 'DRONABINOL'
 'CII)' 'NABILONE' 'COCAINE' '2' 'CODEINE' 'ETORPHINE' 'BUPRENORPHINE'
 '768' 'DIHYDROCODEINE' '7' 'OXYCODONE' 'HYDROMORPHONE' '73' 'HYDROCODONE'
 '1,822' 'LEVORPHANOL' 'MEPERIDINE' 'METHADONE' '726' '710' 'MORPHINE'
 'THEBAINE' 'OPIUM' 'OXYMORPHONE' '16' 'NOROXYMORPHONE' 'ALFENTANIL'
 'REMIFENTANIL' 'SUFENTANIL' 'TAPENTADOL' 'FENTANYL']


Checking column TOTAL for unusual values.
We expect to see partial/full drug names, but no codes and not the words DRUG, NAME, or CODE.
[nan '3RD' '0' '3,593' 'PER' 'RACEMIC' '1' '870' '(DL;D;L;ISOMERS)'
 'HYDROXYBUTYRIC' 'ACID' '(SCHEDULE' '68' '123' '5,770' 'IN' '5,381' '5'
 '18,401' '7,019' '14,384' '5,478' '(PETHIDINE)' 'TINCTURE' 'POWDERED'
 '26' 'BASE' 'COMBINATION']



For the rest of the columns, we expect mostly NaNs and some partial drug names.
Checking column DRUG for unusual values.
[nan 'QUARTER' '100K' 'BASE' 'ACID(FDA' 'DERIVIATIVE' '84' '2)' 'AN' '0'
 '6' '3,797' '(LAUDANUM)' '12' 'PRODUCT']

Checking column DISTRIBUTION for unusual values.
[nan '4TH' 'POPULATION' 'APPROVED-CSA' 'OR' 'ORAL' '0' '(C-III)']

Checking column BY for unusual values.
[nan 'QUARTER' 'BY' 'III)' 'SALT' 'SOLUTION']

Checking column STATE for unusual values.
[nan 'TOTAL' 'GRAM' '[PER' 'IN']

Checking column PER for unusual values.
[nan 'GRAMS' 'WT' '21CFR' 'FDA']

Checking column 100K for unusual values.
[nan '1308.13(C)(3)]' 'APPROVED']

Checking column POPULATION for unusual values.
Column POPULATION is empty.

Checking column BY.1 for unusual values.
Column BY.1 is empty.

Checking column GRAM for unusual values.
Column GRAM is empty.

Checking column WT for unusual values.
Column WT is empty.

A few odd-looking things with this one:

* 'PRODUCT' in column Q1
* '(SYNDROS' in column Q2
* '1308.13(C)(3)]' in column 100K


Those first two turn out to be the same row - looking like a drug name might have gotten wrapped around to a new line.

In [595]:
#pop_2017[pop_2017['Q1']=='PRODUCT']
pop_2017[pop_2017['Q2']=='(SYNDROS']

,State,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,STATE,PER,100K,POPULATION,BY.1,GRAM,WT
579,DRUG,PRODUCT,(SYNDROS,-,CII),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [596]:
pop_2017.iloc[575:583]

,State,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,STATE,PER,100K,POPULATION,BY.1,GRAM,WT
575,WASHINGTON,3.4,2.59,2.31,2.45,10.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576,WISCONSIN,0.16,0,0,0,0.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,U.S.,TOTAL,0.86,0.76,0.79,0.91,3.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
578,DRUG,CODE:7365,DRUG,NAME:,DRONABINOL,IN,AN,ORAL,SOLUTION,IN,FDA,APPROVED,NaN,NaN,NaN,NaN
579,DRUG,PRODUCT,(SYNDROS,-,CII),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
580,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,GRAMS,NaN,NaN,NaN,NaN,NaN
581,ALABAMA,0,0,0.03,0.06,0.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
582,ARIZONA,0,0,0.23,0.11,0.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This is in fact a new drug product for the 2017 reporting year - a liquid form of dronabinol, which is a synthetic version of THC. 
https://www.drugdevelopment-technology.com/comment/syndros-first-fda-approved-liquid-dronabinol-launched-long-journey/

I did most of this analysis before the 2017 data was released, and hadn't done a manual review of the drug codes in that file, so this irregular line was how I discovered the addition of this new drug to the ARCOS data! I did not catch this in the 2017 zip-code data review. It is in the drug codes dictionary from part 1, so you don't need to worry about adding it, but I left this in to highlight the importance of always checking your data.

After finding this value, I went through the file to check if there were any other new additions to the list, and there was another: code 9809, known as 'OPIUM COMBINATION PRODUCT (C-III).' This one is also in the drug codes dictionary.

In [597]:
# this is just part of a drug name (that's not new :))
#pop_2017[pop_2017['100K']=='1308.13(C)(3)]']

In [598]:
# load in and clean all the files

print("Cleaning 2000 file...")
pop_2000 = clean_pop_old(pop_2000, 2000, drug_codes, geos)
print("Done.")

print("Cleaning 2001 file...")
pop_2001 = clean_pop_old(pop_2001, 2001, drug_codes, geos)
print("Done.")

print("Cleaning 2002 file...")
pop_2002 = clean_pop_old(pop_2002, 2002, drug_codes, geos)
print("Done.")

print("Cleaning 2003 file...")
pop_2003 = clean_pop_old(pop_2003, 2003, drug_codes, geos)
print("Done.")

print("Cleaning 2004 file...")
pop_2004 = clean_pop_oldv2(pop_2004, 2004, drug_codes, geos)
print("Done.")

print("Cleaning 2005 file...")
pop_2005 = clean_pop_oldv2(pop_2005, 2005, drug_codes, geos)
print("Done.")

print("Cleaning 2006 file...")
pop_2006 = clean_pop_oldv2(pop_2006, 2006, drug_codes, geos)
print("Done.")

print("Cleaning 2007 file...")
pop_2007 = clean_pop_new(pop_2007, 2007, drug_codes, geos)
print("Done.")

print("Cleaning 2008 file...")
pop_2008 = clean_pop_new(pop_2008, 2008, drug_codes, geos)
print("Done.")

print("Cleaning 2009 file...")
pop_2009 = clean_pop_new(pop_2009, 2009, drug_codes, geos)
print("Done.")

print("Cleaning 2010 file...")
pop_2010 = clean_pop_new(pop_2010, 2010, drug_codes, geos)
print("Done.")


# here we will fix the milligram data issue
# fix the extra large value which reads in as a string
print("Cleaning 2011 file...")
pop_2011 = clean_pop_new(pop_2011, 2011, drug_codes, geos)
# convert from mg to g
print("Converting milligrams to grams...")
pop_2011[['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']] = pop_2011[['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']].divide(1000, axis=0)
print("Done.")

print("Cleaning 2012 file...")
pop_2012 = clean_pop_new(pop_2012, 2012, drug_codes, geos)
print("Done.")

print("Cleaning 2013 file...")
pop_2013 = clean_pop_new(pop_2013, 2013, drug_codes, geos)
print("Done.")

print("Cleaning 2014 file...")
pop_2014 = clean_pop_new(pop_2014, 2014, drug_codes, geos)
print("Done.")

print("Cleaning 2015 file...")
pop_2015 = clean_pop_new(pop_2015, 2015, drug_codes, geos)
print("Done.")

print("Cleaning 2016 file...")
pop_2016 = clean_pop_new(pop_2016, 2016, drug_codes, geos)
print("Done.")

print("Cleaning 2017 file...")
pop_2017 = clean_pop_new(pop_2017, 2017, drug_codes, geos)
print("Done.")

Cleaning 2000 file...
Dropping rows with the following values in the State column:
['REPORTING' 'STATE 1ST QUARTER'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'DATE: 12/24/2002' 'ARCOS' 'QUARTERLY DISTRIBUTION']
Done.
Cleaning 2001 file...
Dropping rows with the following values in the State column:
['REPORTING' 'STATE 1ST QUARTER'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'DATE: 12/19/2002' 'ARCOS' 'QUARTERLY DISTRIBUTION']
Done.
Cleaning 2002 file...
Dropping rows with the following values in the State column:
['REPORTING' 'STATE 1ST QUARTER'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'DATE: 02/12/2004' 'ARCOS' 'QUARTERLY DISTRIBUTION']
Done.
Cleaning 2003 file...
Dropping rows with the following values in the State column:
['REPORTING' 'STATE 1ST QUARTER'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'DATE: 11/24/2004' 'ARCOS' 'QUARTERLY DISTRIBUTION']
Done.
Cleaning 2004 file...
Dropping rows with the following values in the State column:
['REPORTING' 'STATE 1ST QUARTER'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'DATE: 12/14/2005' 'ARCOS' 'QUARTERLY DRUG DISTRIBUTION']
Done.
Cleaning 2005 file...
Dropping rows with the following values in the State column:
['REPORTING' 'STATE 1ST QUARTER'
 '------------------------------------------------------------------------------------------------------------------------------------'
 'DATE: 10/06/2006' 'ARCOS' 'QUARTERLY DRUG DISTRIBUTION']
Done.
Cleaning 2006 file...
Found new substance code: DRUG
Dropping rows with the following values in the State column:
['REPORTING' 'Population' 'Run' 'STATE 1ST QUARTER' 'ARCOS'
 'QUARTERLY DRUG DISTRIBUTION' 'SUBSTANCE']
Done.
Cleaning 2007 file...
Dropping rows with the following values in the State column:
['REPORTING' 'Population' 'Run' 'STATE 1ST QUARTER' 'ARCOS'
 'QUARTERLY DRUG DISTRIBUTION' 'SUBSTANCE']
Done.
Cleaning 2008 file...
Dropping rows with the following values in the State column:
['REPORTING' 'Population' 'Run' 'STATE 1ST QUARTER' 'ARCOS'
 'QUARTERLY DRUG DISTRIBUTION']
Done.
Cleaning 2009 file...
Dropping rows with the following values in the State column:
['REPORTING' 'Population' 'Run' 'STATE 1ST QUARTER' 'ARCOS'
 'QUARTERLY DRUG DISTRIBUTION']
Done.
Cleaning 2010 file...
Dropping rows with the following values in the State column:
['REPORTING' 'Population' 'Run' 'STATE 1ST QUARTER' 'ARCOS'
 'QUARTERLY DRUG DISTRIBUTION']
Done.
Cleaning 2011 file...
Dropping rows with the following values in the State column:
['REPORTING' 'Population' 'Run' 'STATE 1ST QUARTER' 'ARCOS'
 'QUARTERLY DRUG DISTRIBUTION' '1,459,041.39']
Converting milligrams to grams...
Done.
Cleaning 2012 file...
Dropping rows with the following values in the State column:
['REPORTING' 'Population' 'Run' 'STATE 1ST QUARTER' 'ARCOS'
 'QUARTERLY DRUG DISTRIBUTION' 'METHYLCATHINONE)']
Done.
Cleaning 2013 file...
Found new substance code: CODE:9003
Dropping rows with the following values in the State column:
['REPORTING' 'Run' 'STATE 1ST QUARTER' 'ARCOS' 'Population'
 'QUARTERLY DRUG DISTRIBUTION']
Done.
Cleaning 2014 file...
Dropping rows with the following values in the State column:
['REPORTING PERIOD: 01/01/2014' 'STATE 1ST QUARTER' 'ARCOS' 'Population'
 'QUARTERLY DRUG DISTRIBUTION']
Done.
Cleaning 2015 file...
Found new substance code: CODE:7360
Dropping rows with the following values in the State column:
['REPORTING' 'Run' 'STATE 1ST QUARTER' 'ARCOS' 'Population'
 'QUARTERLY DRUG DISTRIBUTION']
Done.
Cleaning 2016 file...
Dropping rows with the following values in the State column:
['REPORTING' 'STATE 1ST QUARTER' 'Population' 'Run' 'ARCOS'
 'QUARTERLY DRUG DISTRIBUTION' '1308.13(C)(3)]']
Done.
Cleaning 2017 file...
Dropping rows with the following values in the State column:
['Run' 'STATE 1ST QUARTER' 'DATE' 'Population' 'ARCOS'
 'QUARTERLY DRUG DISTRIBUTION']
Done.

There aren't any odd values getting dropped that we didn't already know about, so everything looks good.

You will notice a couple of new drug codes were found - I added somthing to check on this issue into the cleaning function after going through all the below, so read on to see how these issues surfaced themselves before I had that check in place.

### Quality and sense checks
Just like before, it's important to check and validate the cleaned data. 

Big issues that require refactoring the code (like mentioned above with the mg/g or other format changes) will likely surface when you start reading in files with your cleaning function as it will throw errors. 

These checks are to look for things that might not have thrown an error. We can reuse the functions from the first file, with one addition for checksums.

In [480]:
# Can reuse two of the checking functions
# But need a new one to do checksums

# check functions
def quarterly_check(df):
    """
    Check to see if the quarterly values in each row sum up to the total.
    """
    df['check'] = df[['Q1', 'Q2', 'Q3', 'Q4']].sum(axis=1)
    df['diff'] = df['TOTAL'] - df['check']
    issues = df.loc[(df['diff'].abs())>0.2]
    if issues.empty:
        print('Quarterly sums check passed')
    else:
        return issues
    df.drop(['check', 'diff'], axis=1, inplace=True)

def repeats_check_zip(df):
    """
    Check to see if any rows of data may be repeated; in particular, we should have only one row for each 
    combination of year-state-drug-zipcode.
    """
    df['check'] = df['Year'].astype(str)+df['State']+df['Drug']+df['Zip']
    checks = pd.Series(data=df['check'].value_counts())
    errors = checks.loc[checks!=1]
    if errors.empty:
        print('Repeats checks passed')
    else:
        return errors
    df.drop(['check'], axis=1, inplace=True)
    
def check_states(df, geos):
    """
    Compare the states present in the df with those we expect to find.
    """
    in_df = df['State'].unique()
    diff = set(geos).symmetric_difference(set(in_df))
    if diff:
        print('State values not matching:', diff)
    else:
        print("All expected state values present")


def repeats_check_pop(df):
    df['check'] = df['Year'].astype(str)+df['State']+df['Drug']
    checks = pd.Series(data=df['check'].value_counts())
    errors = checks.loc[checks!=1]
    if errors.empty:
        print('Repeats checks passed')
    else:
        print("Repeating values found:")
        print(errors)
    df.drop(['check'], axis=1, inplace=True)

In [478]:
# housing the dfs into a dictionary makes it easier to iterate through them here
# but keep in mind modifying any of these dfs does not update the version stored in this dict
# so when we want to use it again later, we need to re-instantiate it
population_dfs = {'2000': pop_2000, '2001': pop_2001, 
                  '2002': pop_2002, '2003': pop_2003, 
                  '2004': pop_2004, '2005': pop_2005, 
                  '2006': pop_2006, '2007': pop_2007, 
                  '2008': pop_2008, '2009': pop_2009,
                  '2010': pop_2010, '2011': pop_2011, 
                  '2012': pop_2012, '2013': pop_2013, 
                  '2014': pop_2014, '2015': pop_2015, 
                  '2016': pop_2016, '2017': pop_2017}

for f in population_dfs.keys():
    print('Checking {} file...'.format(f))
    quarterly_check(population_dfs[f])
    repeats_check_pop(population_dfs[f])
    check_states(population_dfs[f], geos)
    print()
    print()

Checking 2003 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2009 file...
Quarterly sums check passed
Repeating values found:
2009NORTH CAROLINACOCAINE    2
2009CALIFORNIACOCAINE        2
2009FLORIDACOCAINE           2
2009UNITED STATESCOCAINE     2
2009CONNECTICUTCOCAINE       2
Name: check, dtype: int64
All expected state values present


Checking 2014 file...
Quarterly sums check passed
Repeating values found:
2014MISSISSIPPICOCAINE             2
2014TENNESSEECOCAINE               2
2014DISTRICT OF COLUMBIACOCAINE    2
2014WISCONSINCOCAINE               2
2014NEW JERSEYCOCAINE              2
2014WEST VIRGINIACOCAINE           2
2014MICHIGANCOCAINE                2
2014CALIFORNIACOCAINE              2
2014KANSASCOCAINE                  2
2014SOUTH DAKOTACOCAINE            2
2014TEXASCOCAINE                   2
2014DELAWARECOCAINE                2
2014INDIANACOCAINE                 2
2014OREGONCOCAINE                  2
2014FLORIDACOCAINE                 2
2014NEW YORKCOCAINE                2
2014WASHINGTONCOCAINE              2
2014PENNSYLVANIACOCAINE            2
2014NEW HAMPSHIRECOCAINE           2
2014SOUTH CAROLINACOCAINE          2
2014MISSOURICOCAINE                2
2014UNITED STATESCOCAINE           2
2014VIRGINIACOCAINE                2
2014MASSACHUSETTSCOCAINE           2
2014MINNESOTACOCAINE               2
2014UTAHCOCAINE                    2
2014NEVADACOCAINE                  2
2014VERMONTCOCAINE                 2
2014GEORGIACOCAINE                 2
2014MARYLANDCOCAINE                2
2014ALABAMACOCAINE                 2
2014NEBRASKACOCAINE                2
2014KENTUCKYCOCAINE                2
2014NORTH CAROLINACOCAINE          2
2014LOUISIANACOCAINE               2
2014OKLAHOMACOCAINE                2
2014ARKANSASCOCAINE                2
2014MAINECOCAINE                   2
2014NORTH DAKOTACOCAINE            2
2014IOWACOCAINE                    2
2014ARIZONACOCAINE                 2
2014IDAHOCOCAINE                   2
2014RHODE ISLANDCOCAINE            2
2014OHIOCOCAINE                    2
2014COLORADOCOCAINE                2
2014ILLINOISCOCAINE                2
2014CONNECTICUTCOCAINE             2
Name: check, dtype: int64
All expected state values present


Checking 2008 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2004 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2010 file...
Quarterly sums check passed
Repeating values found:
2010UNITED STATESCOCAINE    2
2010OREGONCOCAINE           2
2010CALIFORNIACOCAINE       2
2010FLORIDACOCAINE          2
Name: check, dtype: int64
All expected state values present


Checking 2007 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2005 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2012 file...
Quarterly sums check passed
Repeating values found:
2012UNITED STATESCOCAINE           2
2012RHODE ISLANDCOCAINE            2
2012TEXASCOCAINE                   2
2012MASSACHUSETTSCOCAINE           2
2012DISTRICT OF COLUMBIACOCAINE    2
2012MAINECOCAINE                   2
2012VERMONTCOCAINE                 2
2012DELAWARECOCAINE                2
2012KANSASCOCAINE                  2
2012ALABAMACOCAINE                 2
2012MICHIGANCOCAINE                2
2012OKLAHOMACOCAINE                2
2012WASHINGTONCOCAINE              2
2012PENNSYLVANIACOCAINE            2
2012UTAHCOCAINE                    2
2012ARIZONACOCAINE                 2
2012ARKANSASCOCAINE                2
2012COLORADOCOCAINE                2
2012GEORGIACOCAINE                 2
2012FLORIDACOCAINE                 2
2012MARYLANDCOCAINE                2
2012NEW JERSEYCOCAINE              2
2012NEVADACOCAINE                  2
2012TENNESSEECOCAINE               2
2012OHIOCOCAINE                    2
2012OREGONCOCAINE                  2
2012MISSISSIPPICOCAINE             2
2012IDAHOCOCAINE                   2
2012NEW HAMPSHIRECOCAINE           2
2012INDIANACOCAINE                 2
2012NEW YORKCOCAINE                2
2012WISCONSINCOCAINE               2
2012MISSOURICOCAINE                2
2012MINNESOTACOCAINE               2
2012LOUISIANACOCAINE               2
2012ILLINOISCOCAINE                2
2012WEST VIRGINIACOCAINE           2
2012IOWACOCAINE                    2
2012VIRGINIACOCAINE                2
2012NORTH CAROLINACOCAINE          2
2012SOUTH CAROLINACOCAINE          2
2012CONNECTICUTCOCAINE             2
2012CALIFORNIACOCAINE              2
Name: check, dtype: int64
All expected state values present


Checking 2015 file...
Quarterly sums check passed
Repeating values found:
2015WEST VIRGINIACOCAINE             2
2015ILLINOISCOCAINE                  2
2015TENNESSEECOCAINE                 2
2015MINNESOTACOCAINE                 2
2015NEW JERSEYCOCAINE                2
2015LOUISIANACOCAINE                 2
2015MICHIGANCOCAINE                  2
2015CONNECTICUTCOCAINE               2
2015MASSACHUSETTSCOCAINE             2
2015CALIFORNIACOCAINE                2
2015MAINECOCAINE                     2
2015SOUTH CAROLINACOCAINE            2
2015NEBRASKACOCAINE                  2
2015VERMONTCOCAINE                   2
2015VIRGINIACOCAINE                  2
2015IDAHOCOCAINE                     2
2015SOUTH DAKOTACOCAINE              2
2015DELAWARECOCAINE                  2
2015PENNSYLVANIACOCAINE              2
2015UNITED STATESCOCAINE             2
2015ARIZONACOCAINE                   2
2015UTAHCOCAINE                      2
2015ALABAMACOCAINE                   2
2015COLORADOCOCAINE                  2
2015KENTUCKYCOCAINE                  2
2015RHODE ISLANDCOCAINE              2
2015GEORGIACOCAINE                   2
2015INDIANACOCAINE                   2
2015NORTH DAKOTACOCAINE              2
2015IOWACOCAINE                      2
2015NEW YORKCOCAINE                  2
2015OKLAHOMACOCAINE                  2
2015FLORIDACOCAINE                   2
2015NORTH CAROLINACOCAINE            2
2015KANSASCOCAINE                    2
2015MISSISSIPPICOCAINE               2
2015DISTRICT OF COLUMBIACOCAINE      2
2015WISCONSINCOCAINE                 2
2015UNITED STATESLYSERGIDE(D-LSD)    2
2015WASHINGTONCOCAINE                2
2015NEW HAMPSHIRECOCAINE             2
2015NEVADACOCAINE                    2
2015OHIOCOCAINE                      2
2015ARKANSASCOCAINE                  2
2015MARYLANDCOCAINE                  2
2015TEXASCOCAINE                     2
2015MISSOURICOCAINE                  2
2015OREGONCOCAINE                    2
Name: check, dtype: int64
All expected state values present


Checking 2006 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2011 file...
Quarterly sums check passed
Repeating values found:
2011WASHINGTONCOCAINE              2
2011MISSOURICOCAINE                2
2011TEXASCOCAINE                   2
2011LOUISIANACOCAINE               2
2011COLORADOCOCAINE                2
2011OREGONCOCAINE                  2
2011OHIOCOCAINE                    2
2011MARYLANDCOCAINE                2
2011UNITED STATESCOCAINE           2
2011RHODE ISLANDCOCAINE            2
2011ARIZONACOCAINE                 2
2011KANSASCOCAINE                  2
2011TENNESSEECOCAINE               2
2011SOUTH CAROLINACOCAINE          2
2011CALIFORNIACOCAINE              2
2011NEVADACOCAINE                  2
2011CONNECTICUTCOCAINE             2
2011MISSISSIPPICOCAINE             2
2011ILLINOISCOCAINE                2
2011MASSACHUSETTSCOCAINE           2
2011DISTRICT OF COLUMBIACOCAINE    2
2011WEST VIRGINIACOCAINE           2
2011VIRGINIACOCAINE                2
2011NORTH CAROLINACOCAINE          2
2011FLORIDACOCAINE                 2
2011PENNSYLVANIACOCAINE            2
2011MINNESOTACOCAINE               2
2011WISCONSINCOCAINE               2
2011MICHIGANCOCAINE                2
2011GEORGIACOCAINE                 2
2011ARKANSASCOCAINE                2
2011NEW HAMPSHIRECOCAINE           2
2011UTAHCOCAINE                    2
2011NEW YORKCOCAINE                2
2011ALABAMACOCAINE                 2
2011NEW JERSEYCOCAINE              2
Name: check, dtype: int64
All expected state values present


Checking 2002 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2013 file...
Quarterly sums check passed
Repeating values found:
2013UTAHCOCAINE                         2
2013SOUTH CAROLINACOCAINE               2
2013VERMONTCOCAINE                      2
2013ARKANSASCOCAINE                     2
2013NEVADACOCAINE                       2
2013FLORIDACOCAINE                      2
2013WASHINGTONCOCAINE                   2
2013IDAHOCOCAINE                        2
2013MASSACHUSETTSCOCAINE                2
2013UNITED STATESPHENCYCLIDINE (PCP)    2
2013MARYLANDCOCAINE                     2
2013DELAWARECOCAINE                     2
2013MINNESOTACOCAINE                    2
2013MISSISSIPPICOCAINE                  2
2013ARIZONACOCAINE                      2
2013PENNSYLVANIACOCAINE                 2
2013OHIOCOCAINE                         2
2013ALABAMACOCAINE                      2
2013CONNECTICUTCOCAINE                  2
2013NEBRASKACOCAINE                     2
2013OREGONCOCAINE                       2
2013KANSASCOCAINE                       2
2013OKLAHOMACOCAINE                     2
2013WEST VIRGINIACOCAINE                2
2013SOUTH DAKOTACOCAINE                 2
2013COLORADOCOCAINE                     2
2013NEW JERSEYCOCAINE                   2
2013MAINECOCAINE                        2
2013DISTRICT OF COLUMBIACOCAINE         2
2013GEORGIACOCAINE                      2
2013ILLINOISCOCAINE                     2
2013MISSOURICOCAINE                     2
2013INDIANACOCAINE                      2
2013TENNESSEECOCAINE                    2
2013NEW HAMPSHIRECOCAINE                2
2013NEW YORKCOCAINE                     2
2013CALIFORNIACOCAINE                   2
2013NORTH CAROLINACOCAINE               2
2013RHODE ISLANDCOCAINE                 2
2013NORTH DAKOTACOCAINE                 2
2013KENTUCKYCOCAINE                     2
2013VIRGINIACOCAINE                     2
2013TEXASCOCAINE                        2
2013LOUISIANACOCAINE                    2
2013IOWACOCAINE                         2
2013WISCONSINCOCAINE                    2
2013MICHIGANCOCAINE                     2
2013UNITED STATESCOCAINE                2
Name: check, dtype: int64
All expected state values present


Checking 2000 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'AMERICAN SAMOA'}


Checking 2016 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2001 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'AMERICAN SAMOA'}


Checking 2017 file...
Quarterly sums check passed

Repeats checks passed
All expected state values present

This time the checking functions turns up something interesting. 

There repeating values for cocaine for some states in years 2009-2015 inclusive.

Also, there's a repeating value for LSD in 2015 and for PCP in 2013 at the national level.

Regarding cocaine, it appears that there are two codes for cocaine - 9041 and 9041L. It's not clear from any DEA documentation that I was able to find what the difference between the two is - the reports themselves also refer to both of these codes as simply "Cocaine" as far as the drug name. In any case, for all of these files, although both codes are included, one of them always contains all zeros.

In [481]:
# check for each year if you like
pop_2009[pop_2009['Drug']=='COCAINE']

     Year                 State     Drug     Q1     Q2     Q3     Q4  TOTAL
663  2009            CALIFORNIA  COCAINE   0.00   0.00   0.00   0.00   0.00
664  2009           CONNECTICUT  COCAINE   0.00   0.00   0.00   0.00   0.00
665  2009               FLORIDA  COCAINE   0.00   0.00   0.00   0.00   0.00
666  2009        NORTH CAROLINA  COCAINE   0.00   0.00   0.00   0.00   0.00
667  2009         UNITED STATES  COCAINE   0.00   0.00   0.00   0.00   0.00
670  2009               ALABAMA  COCAINE   2.40   2.43   3.66   1.99  10.47
671  2009                ALASKA  COCAINE   6.56   3.70   6.68   2.35  19.30
672  2009               ARIZONA  COCAINE   4.73   4.53   4.78   3.82  17.86
673  2009              ARKANSAS  COCAINE   3.22   2.42   3.68   1.75  11.07
674  2009            CALIFORNIA  COCAINE   4.33   4.52   5.23   3.38  17.46
675  2009              COLORADO  COCAINE   4.24   4.96   5.25   2.22  16.66
676  2009           CONNECTICUT  COCAINE   3.73   3.42   4.53   2.69  14.37
677  2009              DELAWARE  COCAINE   4.14   3.80   3.41   0.55  11.90
678  2009  DISTRICT OF COLUMBIA  COCAINE   6.83   8.14   6.65   4.12  25.74
679  2009               FLORIDA  COCAINE   3.41   3.55   3.76   2.51  13.23
680  2009               GEORGIA  COCAINE   4.00   3.67   4.60   3.02  15.29
681  2009                  GUAM  COCAINE   2.31   2.31   0.00   3.69   8.30
682  2009                HAWAII  COCAINE   3.44   3.91   6.10   2.58  16.03
683  2009                 IDAHO  COCAINE   8.77   8.32  10.59  10.04  37.72
684  2009              ILLINOIS  COCAINE   5.35   5.38   6.50   4.29  21.52
685  2009               INDIANA  COCAINE   7.82   7.94   9.34   6.72  31.83
686  2009                  IOWA  COCAINE   5.90   5.74   6.44   4.12  22.20
687  2009                KANSAS  COCAINE   5.25   5.02   5.63   3.88  19.78
688  2009              KENTUCKY  COCAINE   5.26   5.32   5.78   2.63  19.00
689  2009             LOUISIANA  COCAINE   2.75   2.98   4.09   2.10  11.92
690  2009                 MAINE  COCAINE   4.67   3.78   6.36   2.37  17.18
691  2009              MARYLAND  COCAINE   6.10   6.20   7.15   3.03  22.48
692  2009         MASSACHUSETTS  COCAINE   6.25   6.73   6.10   5.03  24.10
693  2009              MICHIGAN  COCAINE   5.97   6.64   7.14   4.07  23.81
694  2009             MINNESOTA  COCAINE   8.39   8.33  10.18   5.65  32.55
695  2009           MISSISSIPPI  COCAINE   5.38   6.02   7.10   4.77  23.28
696  2009              MISSOURI  COCAINE   6.16   5.96   6.51   3.64  22.27
697  2009               MONTANA  COCAINE   9.71  10.81  10.06   7.64  38.22
703  2009              NEBRASKA  COCAINE   4.08   3.80   5.52   3.09  16.50
704  2009                NEVADA  COCAINE   4.75   5.99   6.41   5.80  22.95
705  2009         NEW HAMPSHIRE  COCAINE   7.48   7.63   8.69   8.76  32.57
706  2009            NEW JERSEY  COCAINE   3.59   3.83   3.86   1.81  13.09
707  2009            NEW MEXICO  COCAINE   8.31   5.94   7.74   2.62  24.62
708  2009              NEW YORK  COCAINE   3.50   3.20   4.11   1.90  12.70
709  2009        NORTH CAROLINA  COCAINE   3.50   3.54   4.17   2.65  13.86
710  2009          NORTH DAKOTA  COCAINE   5.58   6.25   9.73   3.78  25.35
711  2009                  OHIO  COCAINE   3.83   3.39   4.11   3.51  14.84
712  2009              OKLAHOMA  COCAINE   2.75   2.23   2.37   1.58   8.92
713  2009                OREGON  COCAINE   5.65   5.25   5.46   4.63  20.99
714  2009          PENNSYLVANIA  COCAINE   5.37   5.80   5.79   3.19  20.16
715  2009          RHODE ISLAND  COCAINE   7.69   8.06   7.27   4.67  27.69
716  2009        SOUTH CAROLINA  COCAINE   2.10   2.27   2.00   1.33   7.70
719  2009          SOUTH DAKOTA  COCAINE  13.10  13.55  12.60   5.62  44.87
720  2009             TENNESSEE  COCAINE   6.58   8.47   8.93   5.90  29.88
721  2009                 TEXAS  COCAINE   2.42   2.56   3.03   2.12  10.12
722  2009                  UTAH  COCAINE   6.37   6.12   7.29   7.90  27.69
723  2009               VERMONT  COCAINE   4.62   5.00   5.40   4.62  19.63
724  2009              VIRGINIA  COCAINE   4.15   4.28   5.32   2.22  15.97
725  2009            WASHINGTON  COCAINE   5.14   5.18   4.96   3.49  18.77
726  2009         WEST VIRGINIA  COCAINE   5.90   5.64   4.96   4.68  21.18
727  2009             WISCONSIN  COCAINE   4.09   5.30   5.75   2.35  17.50
728  2009               WYOMING  COCAINE   6.54   6.10   6.49   5.66  24.79
729  2009         UNITED STATES  COCAINE   4.50   4.61   5.22   3.26  17.59

I'm choosing to deal with these issues after merging all the dataframes - I'll drop the extra rows reporting all zeros for cocaine, and I'm also going to remove the total values for sake of consistency with my other datafile, although you might choose to keep it. It could also provide an opportunity for an additional checksum function.

Now to see what's up with LSD and PCP in 2013. It looks pretty odd - the two values are not consecutive in the dataframe.

In [617]:
pop_2013[pop_2013['Drug']=='PHENCYCLIDINE (PCP)']

     Year          State                 Drug   Q1   Q2   Q3   Q4  TOTAL
695  2013       COLORADO  PHENCYCLIDINE (PCP)  0.0  0.0  0.0  0.0   0.00
696  2013           OHIO  PHENCYCLIDINE (PCP)  0.0  0.0  0.0  0.0   0.01
697  2013  UNITED STATES  PHENCYCLIDINE (PCP)  0.0  0.0  0.0  0.0   0.00
705  2013       MICHIGAN  PHENCYCLIDINE (PCP)  0.0  0.0  0.0  0.0   0.00
706  2013  UNITED STATES  PHENCYCLIDINE (PCP)  0.0  0.0  0.0  0.0   0.00

To see what's going on let's read in a new copy of the raw 2013 data and see what's present in some these rows.

In [486]:
check_2013 = pd.read_csv('pop_2013.txt', delim_whitespace=True)
check_2013.iloc[690:708]

,ARCOS,3,-,REPORT,3.1,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,100K,POPULATION,BY.1,GRAM,WT
690,WASHINGTON,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
691,WISCONSIN,0.01,0,0,0,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
692,U.S.,TOTAL,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
693,DRUG,CODE:7471,DRUG,NAME:,PHENCYCLIDINE,(PCP),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
694,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,GRAMS,NaN,NaN,NaN,NaN,NaN
695,COLORADO,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
696,OHIO,0,0,0,0,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
697,U.S.,TOTAL,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698,ARCOS,3,-,REPORT,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
699,Population,Year:,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
700,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,100K,POPULATION,BY,GRAM,WT,NaN,NaN,NaN,NaN,NaN
701,REPORTING,PERIOD:,01/01/2013,TO,12/31/2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
702,Run,Date:,05/05/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
703,DRUG,CODE:9003,DRUG,NAME:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
704,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,GRAMS,NaN,NaN,NaN,NaN,NaN
705,MICHIGAN,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706,U.S.,TOTAL,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
707,DRUG,CODE:9041,DRUG,NAME:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Here's something truly strange - a drug code 9003 with no name associated in the file, and that doesn't appear in the DEA list of controlled substances:
https://www.deadiversion.usdoj.gov/schedules/orangebook/d_cs_drugcode.pdf

In any case, the transacted amount is reported as all zeros for Michigan (the only state with data for this drug) and at the national total level, so I'm making the choice to drop this data entirely - rows 705 and 706.

In [618]:
pop_2013 = pop_2013.drop(labels = [705, 706], axis='index')
pop_2013[pop_2013['Drug']=='PHENCYCLIDINE (PCP)']

     Year          State                 Drug   Q1   Q2   Q3   Q4  TOTAL
695  2013       COLORADO  PHENCYCLIDINE (PCP)  0.0  0.0  0.0  0.0   0.00
696  2013           OHIO  PHENCYCLIDINE (PCP)  0.0  0.0  0.0  0.0   0.01
697  2013  UNITED STATES  PHENCYCLIDINE (PCP)  0.0  0.0  0.0  0.0   0.00

In [489]:
# moving on to look at LSD in 2015
pop_2015[pop_2015['Drug']=='LYSERGIDE(D-LSD)']

     Year          State              Drug   Q1   Q2   Q3      Q4   TOTAL
598  2015       MICHIGAN  LYSERGIDE(D-LSD)  0.0  0.0  0.0    0.00    0.00
599  2015  UNITED STATES  LYSERGIDE(D-LSD)  0.0  0.0  0.0    0.00    0.00
607  2015       KENTUCKY  LYSERGIDE(D-LSD)  0.0  0.0  0.0  182.52  182.52
608  2015  UNITED STATES  LYSERGIDE(D-LSD)  0.0  0.0  0.0    2.53    2.53

In [490]:
check_2015 = pd.read_csv('pop_2015.txt', delim_whitespace=True)
check_2015.iloc[595:615]

,ARCOS,3,-,REPORT,3.1,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,100K,POPULATION,BY.1,GRAM,WT
595,U.S.,TOTAL,0.95,0.85,0.74,0.75,3.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,DRUG,CODE:7315D,DRUG,NAME:,LYSERGIDE(D-LSD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,GRAMS,NaN,NaN,NaN,NaN,NaN
598,MICHIGAN,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,U.S.,TOTAL,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,ARCOS,3,-,REPORT,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,Population,Year:,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
602,QUARTERLY,DRUG,DISTRIBUTION,BY,STATE,PER,100K,POPULATION,BY,GRAM,WT,NaN,NaN,NaN,NaN,NaN
603,REPORTING,PERIOD:,01/01/2015,TO,12/31/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
604,Run,Date:,03/07/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,DRUG,CODE:7360,DRUG,NAME:,MARIJUANA,"PLANT(CANNABIS,CANNABIGEROL,CANNABIDIO",L),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
606,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,GRAMS,NaN,NaN,NaN,NaN,NaN
607,KENTUCKY,0,0,0,182.52,182.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,U.S.,TOTAL,0,0,0,2.53,2.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,DRUG,CODE:7370,DRUG,NAME:,"TETRAHYDROCANNABINOL,SYNTHETIC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,GRAMS,NaN,NaN,NaN,NaN,NaN
611,MICHIGAN,0,0,0.08,0,0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
612,U.S.,TOTAL,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,DRUG,CODE:7377,DRUG,NAME:,CANNABICYCLOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
614,STATE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,GRAMS,NaN,NaN,NaN,NaN,NaN

Another new drug code that I had missed - this now was happening enough that I added something into the cleaning function so that it would report if any new codes had been found. You could also add this into a check function, and it might even make more sense to include it there in the future.

I've left this in here just to continue to highlight the importance of rigorous review of your data whn working on something like this - the code is also included in the drug dictionaries now. Below I'll fix up the 2015 file by re-running the load with the new version of the check function and the latest drug codes dictionary.

In [605]:
pop_2015 = pd.read_csv('pop_2015.txt', delim_whitespace=True)
pop_2015 = clean_pop_new(pop_2015, 2015, drug_codes, geos)

Dropping rows with the following values in the State column:
['REPORTING' 'Run' 'STATE 1ST QUARTER' 'ARCOS' 'Population'
 'QUARTERLY DRUG DISTRIBUTION']

In [606]:
# drop these unneeded dfs
del check_2013
del check_2015

In [621]:
# re-instantiate the dict of dfs
population_dfs = {'2000': pop_2000, '2001': pop_2001, 
                  '2002': pop_2002, '2003': pop_2003, 
                  '2004': pop_2004, '2005': pop_2005, 
                  '2006': pop_2006, '2007': pop_2007, 
                  '2008': pop_2008, '2009': pop_2009,
                  '2010': pop_2010, '2011': pop_2011, 
                  '2012': pop_2012, '2013': pop_2013, 
                  '2014': pop_2014, '2015': pop_2015, 
                  '2016': pop_2016, '2017': pop_2017}

pop_all = pd.concat(list(population_dfs.values()), ignore_index=True)

# Drop out the totals rows
drops = ['UNITED STATES']
for d in drops:
    pop_all=pop_all.drop(pop_all[pop_all['State']==d].index)

# Drop out the reporting on the extra cocaine code
pop_all = pop_all.drop(pop_all.loc[(pop_all['TOTAL']==0)
                                   &(pop_all['Drug']=="COCAINE")].index)

pop_all.to_csv('distribution_by_100K_pop.csv', index=False)

In [622]:
# it is worth running these checks again to make sure nothing went wrong
# e.g., accidentally passing an old version of a df into the concat

quarterly_check(pop_all)
repeats_check_pop(pop_all)
check_states(pop_all, geos)

Quarterly sums check passed
Repeats checks passed
State values not matching: {'UNITED STATES'}